



<div *ngIf="vm">



  <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="OpenIncidentItem(0)">
    <mat-icon class="edit-icon-3">add</mat-icon>Add New incident
  </label>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>Incident #</th>
        <th>Date of Incident</th>

        <th>Location of Incident</th>
        <th>Updated By</th>

        <th>Updated </th>
        <th>Addendums</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm">

        <td>{{ c.incident_number }} </td>
        <td>{{c.date_of_incident | date: 'MM/dd/yyyy'}}</td>

        <td>{{ c.location_of_incident }}</td>
        <td>{{ c.modified_by }}</td>
        <td>{{c.modified_date | date: 'MM/dd/yyyy'}} </td>
        
        <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;color:blue;text-decoration:underline" class="pull-right info-body" (click)="OpenItem(c.incident_number)">
          View
        </label>
        <td>
          <mat-icon class="edit-icon-2" (click)="OpenIncidentItem(c.incident_number)">edit</mat-icon>
          <mat-icon class="edit-icon-2" (click)="DeleteIncidentItem(c.incident_number)">delete</mat-icon>
        </td>


      </tr>
    </tbody>

  </table>



</div>




