<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="text-align:center;" *ngIf="!vm"><div class="loader"></div></div>


<div *ngIf="vm">

  <br />
  <div class="main-title">
    <h5>
      Edit/New Alias  -   {{vm.aliasesDto.offenderFullName}} (#{{vm.aliasesDto.sin}})
    </h5>
  </div>
  <br />


  <br />





  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="row">


      <div class="form-group col-md-4">
        <b>
          Last Name
        </b>

        <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.aliasesDto.last_name"
               [ngClass]="{ 'is-invalid': newListEditor.last_name }">

        <div *ngIf="newListEditor.last_name" class="invalid-feedback">
          {{ newListEditor.last_name }}
        </div>
      </div>


      <div class="form-group col-md-4">
        <b>
          First Name
        </b>

        <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.aliasesDto.first_name"
               [ngClass]="{ 'is-invalid': newListEditor.first_name }">

        <div *ngIf="newListEditor.first_name" class="invalid-feedback">
          {{ newListEditor.first_name }}
        </div>
      </div>


      <div class="form-group col-md-4">
        <b>
          Middle Name
        </b>

        <input type="text" class="form-control" name="middle_name" [(ngModel)]="vm.aliasesDto.middle_name"
               [ngClass]="{ 'is-invalid': newListEditor.middle_name }">

        <div *ngIf="newListEditor.middle_name" class="invalid-feedback">
          {{ newListEditor.middle_name }}
        </div>
      </div>


    </div>








    <div class="form-group row">
      <div class="col-md-4">

      </div>
      <div class="col-md-2">
        <div class="close" mat-dialog-close mat-button>
          <button class="btn-close btn CancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="col-md-2">
        <button *ngIf="vm.aliasesDto.alias_number != 0 " class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Save</button>
        <button *ngIf="vm.aliasesDto.alias_number == 0 " class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>

      </div>

      <div class="col-md-4">

      </div>
    </div>
  </form>

</div>



