
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:800px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">


  <div class="second-title" style="margin-bottom: 18px;">
    <h5>
      Case Managers History - {{data.fullname}} (#{{data.id}})
    </h5>
  </div>

  <div style="text-align:right">
    <!--<label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="getitem(0)">
      <mat-icon class="edit-icon-3">add</mat-icon>Add New Case Manager
    </label>-->

  </div>
  <div  style="overflow-y:auto;height:500px">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm" >
      <thead>
        <tr>

          <th>Assigned</th>
          <th>Name</th>
          <th>Relationship</th>
          <th>Supervision Level</th>
          <th>Level Start</th>
          <th>Updated By</th>
          <th>Updated Date</th>
          <th>Agency Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of vm.staffs">
          <td>{{ datepipe.transform(c.created_date, 'MM/dd/YYYY')}}</td>
          <td>{{ c.first_name +" " + c.last_name  }}</td>
          <td>{{ c.job_title }}</td>
          <td>{{ c.supervisor_name }}</td>
          <td>{{ datepipe.transform(c.date_15, 'MM/dd/YYYY') }}</td>
          <td>{{ c.modified_by }}</td>
          <td>{{ datepipe.transform(c.modified_date, 'MM/dd/YYYY') }}</td>
          <td>{{ c.agency_name }}</td>
          <td>
            <!--<mat-icon class="edit-icon-2" (click)="openitem(c)">edit</mat-icon>
            <mat-icon class="edit-icon-2" (click)="DeleteItem(c.staff_key)">delete</mat-icon>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>


  <div *ngIf="ShowItem" class="Mymodal">
    <div style="width: 50%; height: 500px; position: relative; top: 25%; left: 25%;">
      <div class="modal-content">
        <div class="close" (click)="ClosePopup()">
          <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>




        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">



          <div class="row">

            <div class="form-group col-md-1">
            </div>

            <div class="form-group col-md-10">
              <h5>
                Case Managers History  - {{data.fullname}} (#{{data.id}})
              </h5>
            </div>
            <div class="form-group col-md-1">
            </div>



          </div>



          <input type="hidden" name="sin">

          <div class="row">
            <div class="form-group col-md-4">
              <b>Login Name</b>
              <input type="text" class="form-control" name="login_name" [(ngModel)]="vm.staffDto.login_name" [ngClass]="{ 'is-invalid': newListEditor.login_name }">

              <div *ngIf="newListEditor.login_name" class="invalid-feedback">
                {{ newListEditor.login_name }}
              </div>
            </div>

            <div class="form-group col-md-4">
              <b>County Name</b>
              <select class="form-control"
                      name="COUNTY" [(ngModel)]="vm.staffDto.county_name" [ngClass]="{ 'is-invalid': newListEditor.county_name }" >

                <!--<option value="" disabled>Choose a COUNTY</option>-->
                <option *ngFor="let c of vm.tcounty" [ngValue]="c">{{ c }}</option>
              </select>

              <div *ngIf="newListEditor.county_name" class="invalid-feedback">
                {{ newListEditor.county_name }}
              </div>
            </div>
            <div class="form-group col-md-4">
              <b>Agency Name</b>
              <select class="form-control"
                      name="agency" [(ngModel)]="vm.staffDto.agency_name" [ngClass]="{ 'is-invalid': newListEditor.agency_name }">

                <!--<option value="" disabled>Choose a COUNTY</option>-->
                <option *ngFor="let g of vm.tagency" [ngValue]="g">{{ g }}</option>
              </select>
              <div *ngIf="newListEditor.agency_name" class="invalid-feedback">
                {{ newListEditor.agency_name }}
              </div>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <b>First Name</b>
              <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.staffDto.first_name" [ngClass]="{ 'is-invalid': newListEditor.first_name }">
              <div *ngIf="newListEditor.first_name" class="invalid-feedback">
                {{ newListEditor.first_name }}
              </div>
            </div>
            <div class="form-group col-md-6">
              <b>Last Name</b>
              <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.staffDto.last_name" [ngClass]="{ 'is-invalid': newListEditor.last_name }">
              <div *ngIf="newListEditor.last_name" class="invalid-feedback">
                {{ newListEditor.last_name }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <b>Email Address</b>
              <input type="text" class="form-control" name="e_mail_address" [(ngModel)]="vm.staffDto.e_mail_address" [ngClass]="{ 'is-invalid': newListEditor.e_mail_address }">
              <div *ngIf="newListEditor.e_mail_address" class="invalid-feedback">
                {{ newListEditor.e_mail_address }}
              </div>
            </div>

          </div>





          <div class="form-group row">
            <div class="form-group col-md-7">
            </div>

            <div class="form-group col-md-2">
              <button class="btn btn-primary" style="float:right " (click)="ClosePopup()">Cancel</button>
            </div>

            <div class="col-md-2">
              <button *ngIf="vm.staffDto.staff_key != 0" class="btn btn-primary" style="float:right" (click)="updateItem(vm)">Edit</button>
              <button *ngIf="vm.staffDto.staff_key == 0" class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>

            </div>

            <div class="form-group col-md-1">
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>





