<div *ngIf="vm">

  <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="openAddOffenderGangItem(0)">
    <mat-icon class="edit-icon-3">add</mat-icon>Add New Gang
  </label>

  <table class='table table-borderless' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>Gang Name</th>
        <th>Joined Date</th>
        <th>Quit Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.gangOffenderDtoList">
        <td>{{ c.gang_name }}</td>
        <td>{{ datepipe.transform(c.join_date, 'MM/dd/YYYY')	}}</td>
        <td>{{ datepipe.transform(c.quit_date, 'MM/dd/YYYY') }}</td>
        <td>{{ c.status }}</td>
        <td>
          <mat-icon class="edit-icon-2" (click)="openEditOffenderGangItem(c.offender_gang_id)">edit</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon class="edit-icon-2" (click)="openDeleteOffenderGangItem(c.offender_gang_id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>
