<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="text-align:center;" *ngIf="!vm"><div class="loader"></div></div>


<div *ngIf="vm">

  <br />
  <div class="main-title">
    <h5>
      New Incident Report -    {{data.offenderFullName}} (#{{data.sin}})
    </h5>
  </div>
  <br />
  <br />

  <div style="text-align:right">

    <button style=" font-family:'Arial Bold', 'Arial'; font-weight: 600; font-style: oblique; color: #169BD5; " (click)="openMulltipple()">
      Add Multiple Juveniles
    </button>
  </div>

  <br />




  <form #userForm="ngForm">

    <div class="row">



      <div class="form-group col-md-3">
        <b>
          Date
        </b>
        <input type="date" class="form-control" name="date_of_incident" [valueAsDate]="vm.incidentDto.date_of_incident"
               (change)="vm.incidentDto.date_of_incident = $event.target.valueAsDate"
               [ngClass]="{ 'is-invalid': newListEditor.date_of_incident }">
        <div *ngIf="newListEditor.date_of_incident" class="invalid-feedback">
          {{ newListEditor.date_of_incident }}
        </div>


      </div>




      <div class="form-group col-md-3">
        <b>
          Time
        </b>

        <input type="text" mask="00:00:00" class="form-control" name="time_of_incident" [(ngModel)]="vm.incidentDto.time_of_incident"
               [ngClass]="{ 'is-invalid': newListEditor.time_of_incident }">

        <div *ngIf="newListEditor.time_of_incident" class="invalid-feedback">
          {{ newListEditor.time_of_incident }}
        </div>
      </div>


      <div class="form-group col-md-3">
        <b>
          Location
        </b>

        <input type="text" class="form-control" name="location_of_incident" [(ngModel)]="vm.incidentDto.location_of_incident"
               [ngClass]="{ 'is-invalid': newListEditor.location_of_incident }">

        <div *ngIf="newListEditor.location_of_incident" class="invalid-feedback">
          {{ newListEditor.location_of_incident }}
        </div>
      </div>

      <div class="form-group col-md-3">
        <b>
          Staff Involved
        </b>

        <input type="text" class="form-control" name="staff_Involved" [(ngModel)]="vm.incidentDto.staff_Involved"
               [ngClass]="{ 'is-invalid': newListEditor.staff_Involved }">

        <div *ngIf="newListEditor.staff_Involved" class="invalid-feedback">
          {{ newListEditor.staff_Involved }}
        </div>
      </div>


    </div>

    <div class="row">



      <div class="form-group col-md-12">
        <b>
          Summary of Incident

        </b>

        <textarea style="height:100px" class="form-control" name="description" [(ngModel)]="vm.incidentDto.description"
                  [ngClass]="{ 'is-invalid': newListEditor.description }"></textarea>

        <div *ngIf="newListEditor.description" class="invalid-feedback">
          {{ newListEditor.description }}
        </div>
      </div>


    </div>

    <div style="height: 250px; overflow: auto;">
      <div style="width:100%;text-align:center">   <h1> {{ vm.currentcheckbox[0].category_Name }} </h1> </div>
      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Select Type</th>
            <th>Incident Type</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let typ of vm.currentcheckbox">
            <td><input type="checkbox" [checked]="typ.isSelected" (change)="typ.isSelected= !typ.isSelected; this.SaveCheckbox();" /></td>
            <td>{{ typ.type_Name }}</td>
            <td> {{ typ.type_Desc }}</td>
          </tr>
        </tbody>

      </table>
    </div>

    <!--<div *ngFor="let cat of vm.ref_incident_type_categories">
      <div *ngIf="cat.type_to_category_id == current_cat" style="width:100%;text-align:center">   <h1> {{ cat.incident_category }} </h1> </div>
      <table *ngIf="cat.type_to_category_id == current_cat" class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Select Type</th>
            <th>Incident Type</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let typ of vm.ref_incident_types">
            <td *ngIf="(typ.type_to_Category_Id == cat.type_to_category_id)"><input type="checkbox" /></td>
            <td *ngIf="(typ.type_to_Category_Id == cat.type_to_category_id)">{{ typ.incident_type }}</td>
            <td *ngIf="(typ.type_to_Category_Id == cat.type_to_category_id)"> {{ typ.incident_description }}</td>
          </tr>
        </tbody>

      </table>
    </div>-->

    <div class="form-group row">
      <div class="col-md-1">


        <button class="btn btn-primary" style="float:right" (click)="back()">back</button>


      </div>

      <div class="col-md-10">

      </div>

      <div class="col-md-1">


        <button class="btn btn-primary" style="float:right" (click)="next()">Next</button>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">

      </div>
      <div class="col-md-2">
        <div class="close" mat-dialog-close mat-button>
          <button class="btn-close btn CancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="col-md-2">
        <button *ngIf="vm.incidentDto.incident_number != 0 " class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Save</button>
        <button *ngIf="vm.incidentDto.incident_number == 0 " class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>

      </div>

      <div class="col-md-4">

      </div>
    </div>


    <div *ngIf="ShowItem" class="Mymodal">
      <div style="width: 80%; height: 500px; position: relative;  left: 15%;">
        <div class="modal-content">
          <div class="close" (click)="ClosePopup()">
            <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="row">

            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-10">
              <h5>
                Juveniles at Choices
              </h5>
            </div>
            <div class="form-group col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-9">

            </div>
            <div class="form-group col-md-3">
              <button class="btn btn-primary" style="float:right ">Create Log</button>
            </div>
          </div>
          <br />

          <div style="overflow-y:auto;height:300px">
            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
              <thead>
                <tr>
                  <th style="width:150px;background-color:gainsboro">Create Log For</th>
                  <th style="background-color:gainsboro">Room</th>
                  <th style="background-color:gainsboro">Group</th>
                  <th style="background-color:gainsboro">Juvenile</th>
                  <th style="background-color:gainsboro">Ijos#</th>
                  <th style="background-color:gainsboro">Gender</th>
                  <th style="background-color:gainsboro">DOB</th>
                  <th style="background-color:gainsboro">Age</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of vm.allIncidentOffendersDto">
                  <td style="width:150px;align-items:center;text-align:center"><input type="checkbox" [checked]="c.logFor" (change)="c.logFor= !c.logFor;" /></td>
                  <td>{{ c.room }}</td>
                  <td>{{ c.group }}</td>
                  <td>{{ c.juvenile }}</td>
                  <td>{{ c.ijos }}</td>
                  <td>{{ c.gender }}</td>
                  <td>{{ datepipe.transform(c.dob, 'MM/dd/YYYY')}}</td>
                  <td>{{ c.age }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />

          <div class="row">
            <div class="form-group col-md-10">

            </div>
            <div class="form-group col-md-2">
              <button class="btn btn-primary" style="float:right " (click)="ClosePopup()">Close</button>
            </div>
          </div>


        </div>

      </div>
    </div>



  </form>
</div>




