<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="modal-header">
      <div class="row">
        <h2>
          New Offender Alert - {{vm.offender_FullName}} (#{{vm.juvenile_AlertDto.sin}})
        </h2>
      </div>
    </div>

    <div class="modal-body was-validated">

      <div class="row">

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">Alert Type</label></b>
        </div>

        <div class="form-group col-md-8">
          <select class="form-control" name="alerttype" [(ngModel)]="vm.juvenile_AlertDto.alert_type"
                  (change)="alerttypeChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.alert_type }" required>
            <option *ngFor="let c of vm.juvenile_Alert_TypeDtoList" [ngValue]="c.alert_type">{{ c.alert_type }}</option>
          </select>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">Comment</label></b>
        </div>

        <div class="form-group col-md-8">
          <textarea class="form-control is-invalid" id="exampleFormControlTextarea1" rows="5" name="comment" [(ngModel)]="vm.juvenile_AlertDto.alert_comment" required></textarea>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-2">
        </div>
      </div>

      <div class="row">

        <div class="d-grid col-3 mx-auto">
          <button class="btn btn-secondary btn-lg" tabindex="1" type="button" mat-dialog-close mat-button>Close</button>
        </div>

        <div class="d-grid col-3 mx-auto">
          <button *ngIf="vm.juvenile_AlertDto.juvenile_alert_key == 0 " class="btn btn-primary btn-lg" type="submit" (click)="createAlertItem(vm)">Save</button>
        </div>

      </div>

    </div>

  </form>

</div>
