
<p *ngIf="!vm"><em>Loading...</em></p>











<div *ngIf="vm" class="row content-row">
  <div class="col-md-2 col-sm-4 photo-col">
    <div class="row sub-title">
      <h2>Photograph</h2>
      <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="openModalPhoto()" />
    </div>
    <div class="row">

      <!--<div [innerHtml]="MainPhotoDiv" class="photo-placeholder">

      </div>-->

      <img class="photo-placeholder" src="{{MainPhotoDiv}}" style="width:150px; height:160px;" />
      <!--<img style="width:150px; height:160px;" id="MainPhoto" src="../../../assets/Images/Portrait_Placeholder.png"  />-->
    </div>
  </div>
  <div class="col-md-3 col-sm-8">
    <div class="bordered">
      <div class="row">
        <div class="col-md-10 sub-title">
          <h2>
            Address / Contact
          </h2>
        </div>
        <div class="col-md-2">
          <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="openModal()" />
        </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="row">
        <div class="col-md-12 info-body">
          <label class="strong-label">Street: </label> <label>{{vm.offender.street_address}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
          <label class="strong-label">City, State, Zip: </label> <label>{{vm.offender.city_state_zip}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
          <label class="strong-label">Phone: </label> <label>{{vm.offender.phone}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 info-body">
          <label class="strong-label">Email: </label> <label>{{vm.offender.email_address}}</label>
        </div>
        <div class="col-md-2">
          <a href="#"><img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" /> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="bordered">
      <div class="row">
        <div class="col-md-10 sub-title">
          <h2>
            Physical Description
          </h2>
        </div>
        <div class="col-md-2">
          <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="openPhysicalDescription()" />
        </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="row">
        <div class="col-md-3 info-body">
          <label class="strong-label">Sex:</label><label>{{vm.offender.sex}}</label>
        </div>
        <div class="col-md-4 info-body">
          <label class="strong-label post-label">Height:</label><label>{{vm.offender.height_string}} </label>
        </div>
        <div class="col-md-5 info-body">
          <label class="strong-label post-label">Hair Color:</label>{{vm.offender.hair_color}}<label></label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 info-body">
          <label class="strong-label">Weight:</label><label>{{vm.offender.weight}} lbs</label>
        </div>
        <div class="col-md-4 info-body">
          <label class="strong-label post-label">DOB:</label><label>{{vm.offender.date_of_birth | date: 'MM/dd/yyyy'}}</label>
        </div>
        <div class="col-md-5 info-body">
          <label class="strong-label post-label">Eye Color:</label>{{vm.offender.eye_color}}<label></label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 info-body">
          <label class="strong-label">Race/Ethnicity:</label><label>{{vm.offender.race}} {{vm.offender.ethnicity}}</label>
        </div>
        <div class="col-md-5 info-body">
          <label class="strong-label post-label">Optional ID:</label><label>453211 </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
          <label class="strong-label"><br /> </label>
        </div>
      </div>
    </div>
  </div>













  <div class="col-md-1 col-sm-12 ">
    <div class="bordered2">

   
      <div class="row">
        <div class="col-md-12">
          <button style="background-color: Transparent;border-block-style: none; font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 600; font-style: oblique; color: #169BD5; "  (click)="openCommentModal(0)">
            Comments
          </button>
        </div>

      </div>

    </div>
  </div>


  <!--<div class="col-md-2 col-sm-2">
    <div>
      <div class="row">
        <div class="col-md-12 bordered2" style="text-align:center">
          <button style="background-color: Transparent;border-block-style: none; font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 600; font-style: oblique; color: #169BD5; " class="pull-right info-body" (click)="openCommentModal(0)">
            Comments
          </button>
        </div>
      </div>-->
      <!--<div class="row">
        <div class="col-md-12 info-body">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
        </div>
      </div>-->

    <!--</div>
  </div>-->

</div>
<br />
<div *ngIf="vm" class="row content-row">
  <div class="col-md-6 second-col">
    <div class="bordered">
      <div class="row">
        <div class="col-md-10 sub-title">
          <h2>
            Additional Details
          </h2>
        </div>
        <div class="col-md-2 pull-right">
          <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="openAdditionalDetailsModal()" />
        </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="row">
        <div class="col-md-6 info-body">
          <label class="strong-label">Driver License: </label> <label>{{vm.offender.drivers_license_number}}</label>
        </div>
        <div class="col-md-6 info-body">
          <label class="strong-label">SSN: </label> <label>{{vm.offender.ssn}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 info-body">
          <label class="strong-label">Employed: </label> <label>{{vm.offender.isemployed ? 'Yes':'No'}}</label>
        </div>
        <div class="col-md-6 info-body">
          <label class="strong-label">Marital Status: </label> <label>{{vm.offender.marital_status}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 info-body">
          <label class="strong-label">US  Ctizen: </label> <label>{{vm.offender.citizen_flag  ? 'Yes': 'No' }}</label>
        </div>
        <div class="col-md-6 info-body">
          <label class="strong-label">Medicaid: </label> <label>{{vm.offender.medicaid_number}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 info-body">
          <label class="strong-label">Paper File Location: </label> <label>{{vm.offender.paper_file_location}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bordered">
      <div class="row">
        <div class="col-md-10 sub-title">
          <h2>
            Case Managers
          </h2>
        </div>
        <div class="col-md-2">
          <img class="edit-icon edit-second-row" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="openStaffModal()" />
        </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="row" *ngIf="vm.offender.gl_last_name">
        <div class="col-md-4 info-body">
          <label class="strong-label">JPO</label>
        </div>
        <div class="col-md-4 info-body">
          <label class="strong-label">JSC</label>
        </div>
        <div class="col-md-4 info-body">
          <label class="strong-label">Group Leader</label>
        </div>
      </div>
      <div class="row" *ngIf="vm.offender.jpo_last_name">
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jpo_first_name + ' ' + vm.offender.jpo_last_name}} </label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jsc_first_name + ' ' + vm.offender.jsc_last_name}} </label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.gl_first_name + ' ' + vm.offender.gl_last_name}} </label>
        </div>
      </div>
      <div class="row" *ngIf="vm.offender.jsc_last_name">
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jpo_agency_name}}</label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jsc_agency_name}}</label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.gl_agency_name}}</label>
        </div>
      </div>
      <div class="row" *ngIf="vm.offender.gl_last_name">
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jpo_phone_number_2}}</label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.jsc_phone_number_2}}</label>
        </div>
        <div class="col-md-4 info-body">
          <label>{{vm.offender.gl_group_name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row " *ngIf="vm">
  <div class="col-md-9 main-title"><h1>Relationships</h1></div>
  <div class="col-md-3">
    <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="openRelationshipModal(0)">
      <mat-icon class="edit-icon-3">add</mat-icon>Add new relationship
    </label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Relationship</th>
          <th>Status</th>
          <th>Sex</th>
          <th>DOB</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let r of vm.relationships;">
          <td>
            {{ r.full_name}}
          </td>
          <td>
            {{ r.relationship_to_offender}}
          </td>
          <td>
            {{ r.status}}
          </td>
          <td>
            {{ r.sex}}
          </td>
          <td>
            {{ r.date_of_birth | date}}
          </td>
          <td>
            <div class="row">
              <div class="col-md-6 info-body">
                <mat-icon class="edit-icon-2" (click)="openRelationshipModal(r.relationship_id)">edit</mat-icon><br />
              </div>
              <div class="col-md-6 info-body ">
                <mat-icon class="edit-icon-2" (click)="deleteRelationship(r.relationship_id)">delete</mat-icon><br />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-divider class="mat-divider"></mat-divider>
<br />
<div class="row botton-row" *ngIf="vm">
  <div class="col-md-12">
    <label>Last Edited On: {{vm.offender.modified_date !== null ? (vm.offender.modified_date | date: 'MM/dd/yyyy') : (vm.offender.created_date | date: 'MM/dd/yyyy') }}</label>       <label class="pull-right">Last Edited By: {{vm.offender.userName != null ? vm.offender.userName : vm.offender.modified_by }}</label>
  </div>
</div>
<br />
