.main-title > h1 {
  font-size: 20px;
  padding-top:4px;
}

.second-title {
  padding-top: 4px;
  font-size: 14px;
}

.edit-icon {
  display: inline-block;
  margin-left: 4px;
  width: 25.3px;
  height: 20.45px;
  overflow: hidden;
  float: right;
  margin-top: -6px;
  cursor: pointer;
}

.edit-icon-2 {
  display: inline-block;
  font-size:20px;
  overflow: hidden;
}

.action-grid-btn{
    margin-top:-20px;
}


.edit-icon-3 {
  display: inline-block;
  width: 25.3px;
  height: 20.45px;
  overflow: hidden;
  padding-bottom: 0px;
}

.info-body > label{
    color: black;
}

.pull-right {
  float: right
}

.top-main-row {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px #b4b8bf;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 6px;
  margin-bottom: 30px;
  margin-right: -4px;
}

.info-body > a {
    color:black;
}

.botton-row {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px #b4b8bf;
  padding-left: 10px;
  margin-right: -4px;
  margin-left: -15px;
  margin-top: 9px;
}

.sub-title > h2 {
  font-size: 1.07rem;
}

.photo-placeholder{
    height:8rem;
}

.bordered2 {
  padding-top: 7px;
  box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin: -10px;
  margin-top: 0px;
  padding-left: 0px;
  padding-bottom: 154px;
}

.bordered {
  padding-top: 6px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px rgba(204, 204, 204, 1);
  border-radius: 4px;
  margin: -10px;
  margin-top: 0px;
  padding-left: 4px;
  padding-bottom: 10px;
}

.strong-label{
    font-weight:500;
    margin-right:7px;
}

.post-label{
    margin-left:6px;
}

.mat-divider{
    margin-bottom:5px;
}

.info-body {
  font-size: 14px;
  padding-right: 4px;
}

.photo-col, .second-col {
  margin-right: -20px;
  padding-right: 34px;
}

.edit-second-row {
  margin-left: auto;
  margin-right: 0;
}

.content-row {
  margin-right: -30px;
}

.content-row2 {
  margin-right: -60px;
}

tbody > tr > td {
  padding: 0.2rem !important;
}


.table th, .table td {
  font-size: 13px;
}
