<h1>Offender</h1>

<p>This is a complex todo list component.</p>

<p *ngIf="!vm"><em>Loading...</em></p>


<form #userForm="ngForm" (ngSubmit)="f.form.valid && onSubmit(userForm)" #f="ngForm" novalidate>
  <div class="form-group">
    <label>SIN</label>
    <input type="text" name="sin" required minlength="4" class="form-control" [(ngModel)]="vm.offender.sin"
           #sin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sin.invalid }">
    <div *ngIf="f.submitted && sin.invalid" class="invalid-feedback">
      <div *ngIf="sin.errors.required">Sin is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>COUNTY NAME</label>
    <input type="text" class="form-control" name="countY_NAME" [(ngModel)]="vm.offender.county_name" required>
  </div>

  <div class="form-group">
    <label>LAST NAME</label>
    <input type="text" class="form-control" name="last_Name" [(ngModel)]="vm.offender.last_name" required>
  </div>

  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="firsT_NAME" [(ngModel)]="vm.offender.first_name" required>
  </div>

  <div class="form-group">
    <button class="btn btn-danger btn-block" (click)="updateItem(vm)">Submit</button>
  </div>
</form>

<div *ngIf="debug">
  <pre>{{ vm | json }}</pre>
</div>
