

<div *ngIf="vm">



  <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="OpenItem(0,'')">
    <mat-icon class="edit-icon-3">add</mat-icon>Add New No Contact Order
  </label>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Date of Birth</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm">

        <td>{{ c.last_name + ' ' + c.first_name + ' ' + c.middle_name }}</td>
        <td>{{ c.sex }}</td>

        <td> {{c.date_of_birth | date: 'MM/dd/yyyy'}}</td>

        <td>
          <!--<button style="border-block-style:none;font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; color: #169BD5;" class="pull-right info-body" (click)="openitem(c)">
            Edit
          </button>

          <button style="border-block-style: none; font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; color: #169BD5;" class="pull-right info-body" (click)="DeleteItem(c.offender_comment_id)">
            Delete
          </button>-->

          <mat-icon class="edit-icon-2" (click)="OpenItem(c.relationship_id,c.last_name + ' ' + c.first_name + ' ' + c.middle_name)">edit</mat-icon>
          <mat-icon class="edit-icon-2" (click)="DeleteItem(c.relationship_id,c.last_name + ' ' + c.first_name + ' ' + c.middle_name)">delete</mat-icon>


        </td>

      </tr>
    </tbody>

  </table>



</div>




