
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">






  <!--*************************ShowPhotoType-->
  <div *ngIf="ShowPhotoType" class="Mymodal">
    <div class="modal-content">
      <div class="close" (click)="CloseShowPhotoType()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>



      <div class="second-title" style="margin-bottom: 18px;">
        <strong>
          Photograph - {{fullName}} (#{{sin}}) -- {{  typevm.photoType  }}
        </strong>
      </div>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="row">
          <div *ngFor="let item of typevm.photos "  class="form-group col-md-3">
            <div class="defimg">
              <img class="DivinnerimgDet _myimg"   (click)="fireImageDet(item.photo_id)"   src="data:image/png;base64,{{  item.photo_data  }}">
            </div>
          </div>
   

        </div>

      </form>
    </div>

  </div>


  <!--*************************ShowPrintPlate-->
  <div *ngIf="ShowPrintPlate" class="Mymodal">
    <div class="modal-content">
      <div class="close" (click)="ClosePrintPlate()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>



      <div class="second-title" style="margin-bottom: 18px;">
        <strong>
          Photograph - {{fullName}} (#{{sin}})
        </strong>
      </div>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="row">
          <div class="form-group col-md-12">

            <div class="row">



              <div class="form-group col-md-12">
                <b>Select Location</b>


                <select class="form-control"
                        name="photo_type_id"
                        [(ngModel)]="vm.satellite_office.agency_branch" [ngClass]="{ 'is-invalid': newListEditor.agency_branch }">
                  <option value="" disabled>Choose a location</option>
                  <option *ngFor="let c of vm.satellite_office" [ngValue]="c.agency_branch">{{ c.agency_branch }}</option>
                </select>
                <div *ngIf="newListEditor.photo_type_id" class="invalid-feedback">
                  {{ newListEditor.agency_branch }}
                </div>

              </div>


            </div>



          </div>

        </div>
        <!--<span style="color:red;" *ngIf="message">{{message}}</span>-->


        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary" style="float:right" printSectionId="print-section" ngxPrint>Print</button>
            <button type="button" style="float:right;margin-right:20px" class="btn btn-cancel" (click)="ClosePrintPlate()">Cancel</button>


          </div>


        </div>
      </form>
    </div>

    <div id="print-section" style="display:none">



      <div class="form-group row">
        <div style="align-content:center;text-align:center">
          <div style="font-family: 'Times New Roman', Times, serif; font-size: 100px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">
            {{fullName}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div style="align-content:center;text-align:center">
          <div style="font-family: 'Times New Roman', Times, serif; font-size: 70px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">  # {{sin}}  </div>
        </div>
      </div>


      <table style="border-style: solid; width: 100%;">
        <tr>
          <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: bolder; text-transform: capitalize ">DOB</td>
          <td style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: bolder; text-transform: capitalize ">Staff</td>
          <td style="text-align:right;font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: bolder; text-transform: capitalize">Date</td>
        </tr>
        <tr>
          <td style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">
            {{vm.photo.date_of_birth}}
          </td>
          <td style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">
            {{CuserName}}
          </td>
          <td style="text-align: right; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">
            {{datenow}}
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: bolder; text-transform: capitalize">
            Location
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder; font-style: normal; font-variant: normal; text-transform: capitalize">    {{vm.satellite_office.agency_branch}}  </td>
        </tr>

      </table>
      <br />
      <div style="text-align: center;">
        <img style="width:100px;height:100px" src="../../../assets/Images/IJOS.png" />
      </div>






    </div>
  </div>








  <!--*************************New Image-->
  <div *ngIf="ShowModle" class="Mymodal">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>


      <div class="second-title" style="margin-bottom: 18px;">
        <h4>
          Photograph - {{fullName}} (#{{sin}})
        </h4>
      </div>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="row">
          <div class="form-group col-md-6">

            <div class="row">
              <div class="form-group col-md-12">
              </div>
            </div>

            <!--file-->
            <div class="row">
              <div class="form-group col-md-12">
                <input #file type="file" class="myfile" accept='image/*' (change)="preview(file.files,0)" [ngClass]="{ 'is-invalid': newListEditor.file }">
                <div *ngIf="newListEditor.file" class="invalid-feedback">
                  {{ newListEditor.file }}
                </div>
              </div>
            </div>


            <!--date TAKEN AND  taken  by-->
            <div class="row">
              <div class="form-group col-md-6">
                <b>Taken  By</b>
                <input type="text" class="form-control" name="taken_by" [(ngModel)]="vm.photo.taken_by" [ngClass]="{ 'is-invalid': newListEditor.taken_by }">
                <div *ngIf="newListEditor.taken_by" class="invalid-feedback">
                  {{ newListEditor.taken_by }}
                </div>
              </div>

              <div class="form-group col-md-6">
                <b>Date Taken</b>
                <input type="date" class="form-control" name="date_taken" disabled [valueAsDate]="vm.photo.date_taken"
                       (change)="vm.photo.date_taken = $event.target.valueAsDate" [ngClass]="{ 'is-invalid': newListEditor.date_taken }">
                <div *ngIf="newListEditor.date_taken" class="invalid-feedback">
                  {{ newListEditor.date_taken }}
                </div>
              </div>

            </div>

            <!--type AND SET-->
            <div class="row">


              <div class="form-group col-md-6">
                <b>Photo  Type</b>
                <select class="form-control"
                        name="photo_type_id"
                        [(ngModel)]="vm.photo.photo_type_id" [ngClass]="{ 'is-invalid': newListEditor.photo_type_id }">
                  <option value="" disabled>Choose a Type</option>
                  <option *ngFor="let c of vm.phototypes" [ngValue]="c.photo_type_id">{{ c.photo_type }}</option>
                </select>
                <div *ngIf="newListEditor.photo_type_id" class="invalid-feedback">
                  {{ newListEditor.photo_type_id }}
                </div>

              </div>

              <div class="form-group col-md-6" style="margin-top:25px;display:none">
                <input type="checkbox" style="margin:10px" name="setasschoolid" [(ngModel)]="vm.photo.setasschoolid">
                <b>Set as School ID</b>
              </div>
            </div>


            <!--LOCATION -->
            <div class="row">
              <div class="form-group col-md-12">
                <b>Location</b>
                <select class="form-control"
                        name="location_taken" (change)="cityChanged($event)"
                        [(ngModel)]="vm.photo.location_taken" [ngClass]="{ 'is-invalid': newListEditor.location_taken }">
                  <option value="" disabled>Choose a City</option>
                  <option *ngFor="let c of vm.cities" [ngValue]="c">{{ c }}</option>
                </select>
                <div *ngIf="newListEditor.city" class="invalid-feedback">
                  {{ newListEditor.location_taken }}
                </div>
              </div>
            </div>

            <!--comments-->
            <div class="row">
              <div class="form-group col-md-12">
                <b>Comments</b>
                <textarea class="form-control" name="comments" [(ngModel)]="vm.photo.comments"></textarea>
                <!--<input type="text" class="form-control" name="comments" [(ngModel)]="vm.photo.comments">-->
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" style="width:50px" style="float:right" (click)="CreateItem(vm.photo)">Save</button>
                <!--<button type="button" style="float:right;margin-right:20px" class="btn btn-cancel" (click)="ClosePopup()">Cancel</button>-->

                <button *ngIf="vm.photo.photo_id!=0" type="button" class="btn btn-danger" (click)="deleteListConfirmed()">Delete</button>
              </div>
            </div>

          </div>

          <!--IMAGE-->
          <div class="form-group col-md-6">
            <b>preview</b>
            <img style="width: 100%; margin:10px;height:350px" [src]="imgURL" *ngIf="imgURL">
            <!--<img style="width: 100%; margin:10px;height:350px" *ngIf="imgURL" [src]="imgURL" alt="https://d1icd6shlvmxi6.cloudfront.net/gsc/DGZC8W/8c/0a/19/8c0a193477654a9aafd434cda656d19d/images/new_photo_select/u723.png?token=20234491b4607027ca21302870a347934869e5f507dd8af5876367e70b02280e">-->
          </div>

        </div>
        <span style="color:red;" *ngIf="message">{{message}}</span>


        <!--<div class="form-group row">-->
        <!--<div class="col-md-12">
          <button class="btn btn-primary" style="float:right" (click)="CreateItem(vm.photo)">Save</button>
          <button type="button" style="float:right;margin-right:20px" class="btn btn-cancel" (click)="ClosePopup()">Cancel</button>

          <button *ngIf="vm.photo.photo_id!=0" type="button" class="btn btn-danger" (click)="deleteListConfirmed()">Delete</button>
        </div>-->
        <!--</div>-->
      </form>
    </div>
  </div>


  <div class="second-title" style="margin-bottom: 18px;">
    <h4>
      Photograph - {{fullName}} (#{{sin}})
    </h4>
  </div>


  <div class="row">
    <div class=" col-md-4">
      <div [innerHtml]="htmlToAddHead"></div>
    </div>

    <div class="col-md-4" style=" text-align: center; line-height: 140px">
      <button id="ss" class="btn btn-primary" (click)="PrintPlate()">Print Name Plate</button>
    </div>

    <div class="col-md-4" style="text-align: center; line-height: 140px">
      <button id="ss" class="btn btn-primary" (click)="NewPhotoPopup()">New Photo</button>
    </div>

  </div>

  <!--<div class="row">
    <div class=" col-md-6">

    </div>
    <div class=" col-md-6">

    </div>
  </div>-->
  <div class="ImagesBuild" [innerHtml]="htmlToAdd"></div>

  <!--*************************ShowModleUpdate-->


</div>






