@media print {
  @page {
    size: landscape;
  }
}

.close {
  cursor: pointer;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.edit-icon {
  display: inline-block;
  width: 25px;
  margin-left: 4px;
  height: 25px;
  overflow: hidden;
  float: right;
  cursor: pointer;
}

.GrbImg {
  border-style: solid;
  height: 175px;
 // overflow-y: scroll;
  overflow: auto;
}

.GrbImgNoscrol {
  border-style: solid;
  height: 175px;
  overflow: auto;
}

._myimg {
  cursor: pointer;
}

.ImagesBuild {
  display: inline-block;
}

.Divinnerimg {
  display: inline-block;
  margin: 10px;
  width: 500px;
  height: 147px;
  box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-top: 0px;
  padding-left: 4px;
  overflow-y: auto;
  text-align: justify;
  border-style: solid;
}


.DivinnerimgDet {
  display: inline-block;
  margin: -14px;
  width: 255px;
  height: 215px;
  box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-top: 0px;
  padding-left: 4px;
  overflow-y: auto;
  text-align: justify;
  border-style: solid;
}

.defimg {
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  text-align: left;
  line-height: normal;
  display: inline-block;
  padding-top: 6px;
}

.innerimg {
  width: 120px;
  height: 95px;
  margin: 10px;
}

.innerimgHeader {
  /*width: 200px;*/
  height: 140px;
  /*margin: 10px;*/
}

.center {
  text-align: center;
}

.toast-success {
  padding-left: 80px;
  text-align: center;
  background-position: 35% !important;
}

.Mymodal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
