
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:800px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">

  <div class="main-title">
    <h2>
      Address - {{vm.fullname}} (#{{vm.offenderAddress.sin}})
    </h2>
  </div>




  <div *ngIf="ShowAddress" class="Mymodal">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="second-title" style=" margin-top: -36px; margin-bottom: 18px;">
        <strong >Edit/New Address - {{vm.fullname}} (#{{vm.offenderAddress.sin}})</strong>
      </div>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="row">
          <div class="form-group col-md-5">
            <b>Address</b>
            <input type="text" class="form-control" name="address_line1" [(ngModel)]="vm.offenderAddress.address_line1"
                   [ngClass]="{ 'is-invalid': newListEditor.address }">
            <div *ngIf="newListEditor.address" class="invalid-feedback">
              {{ newListEditor.address }}
            </div>
          </div>
          <div class="form-group col-md-2">
            <b>Apt/Unit</b>
            <input type="text" class="form-control" name="address_line2" [(ngModel)]="vm.offenderAddress.address_line2" required>
          </div>
          <div class="col-md-2"></div>
          <div class="form-group col-md-3">
            <b>Living Arrangement</b>
            <!--  <input type="text" class="form-control" name="living_arrangement" [(ngModel)]="vm.offenderAddress.living_arrangement" required>-->

            <select class="form-control"
                    name="living_arrangement"
                    [(ngModel)]="vm.offenderAddress.living_arrangement">
              <option value="" disabled>Choose a Living Arrangement</option>
              <option *ngFor="let c of vm.livingArrangements" [ngValue]="c.living_arrangement">{{ c.living_arrangement }}</option>
            </select>


          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <b>City</b>
            <!--  <input type="text" class="form-control" name="city" [(ngModel)]="vm.offenderAddress.city" required>-->
            <select class="form-control"
                    name="city" (change)="cityChanged($event)"
                    [(ngModel)]="vm.offenderAddress.city" [ngClass]="{ 'is-invalid': newListEditor.city }">
              <option value="" disabled>Choose a City</option>
              <option *ngFor="let c of vm.cities" [ngValue]="c">{{ c }}</option>
            </select>

            <div *ngIf="newListEditor.city" class="invalid-feedback">
              {{ newListEditor.city }}
            </div>
          </div>
          <div class="form-group col-md-1">
            <b>State</b>
            <!-- <input type="text" class="form-control" name="state" [(ngModel)]="vm.offenderAddress.state" required>-->
            <select class="form-control"
                    name="state"
                    [(ngModel)]="vm.offenderAddress.state" (change)="stateChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.states }">
              <option value="" disabled>Choose a State</option>
              <option *ngFor="let c of vm.states" [ngValue]="c">{{ c }}</option>
            </select>
            <div *ngIf="newListEditor.state" class="invalid-feedback">
              {{ newListEditor.state }}
            </div>

          </div>
          <div class="form-group col-md-2">
            <b>Zip</b>
            <input type="text" class="form-control" name="zip"
                   [(ngModel)]="vm.offenderAddress.zip"
                   (change)="zipChanged($event)"
                   [ngClass]="{ 'is-invalid': newListEditor.zip }">
            <div *ngIf="newListEditor.zip" class="invalid-feedback">
              {{ newListEditor.zip }}
            </div>
          </div>
          <div class="form-group col-md-5">
            <b>County Name</b>
            <!-- <input type="text" class="form-control" name="county_name" [(ngModel)]="vm.offenderAddress.county_name" required>-->
            <select class="form-control"
                    name="county_name"
                    [(ngModel)]="vm.offenderAddress.county_name" [ngClass]="{ 'is-invalid': newListEditor.counties }">
              <option value="" disabled>Choose a County</option>
              <option *ngFor="let c of vm.counties" [ngValue]="c">{{ c }}</option>
            </select>
            <div *ngIf="newListEditor.counties" class="invalid-feedback">
              {{ newListEditor.counties }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Comments</b>
            <textarea class="form-control" name="comments" [(ngModel)]="vm.offenderAddress.comments"></textarea>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary" style="float:right" (click)="updateItem(vm)">Save</button>
            <button class="btn btn-cancel" style="float:right;margin-right:20px" (click)="ClosePopup()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="ShowMail" class="Mymodal">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="second-title" style=" margin-top: -30px; margin-bottom: 18px;">
        <b>Edit/New Address - {{vm.fullname}} (#{{vm.offenderAddress.sin}})</b>

      </div>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <input type="text" name="sin" class="form-control" hidden="hidden" [(ngModel)]="vm.offenderAddress.sin" required>
        </div>
        <div class="row">
          <div class="form-group col-md-5">
            <b>Address</b>
            <input type="text" class="form-control" name="mailing_addr_line1" [(ngModel)]="vm.offenderAddress.mailing_addr_line1" required>
          </div>
          <div class="form-group col-md-2">
            <b>Apt/Unit</b>
            <input type="text" class="form-control" name="mailing_addr_line2" [(ngModel)]="vm.offenderAddress.mailing_addr_line2" required>
          </div>
          <div class="col-md-2"></div>
          <div class="form-group col-md-3">

          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <b>City</b>
            <!--  <input type="text" class="form-control" name="city" [(ngModel)]="vm.offenderAddress.city" required>-->
            <select class="form-control"
                    name="mailing_city"
                    (onchange)="mailing_city"
                    [(ngModel)]="vm.offenderAddress.mailing_city">
              <option value="" disabled>Choose a City</option>
              <option *ngFor="let c of vm.cities" [ngValue]="c">{{ c }}</option>
            </select>

          </div>
          <div class="form-group col-md-1">
            <b>State</b>
            <!-- <input type="text" class="form-control" name="state" [(ngModel)]="vm.offenderAddress.state" required>-->
            <select class="form-control"
                    name="mailing_st"
                    [(ngModel)]="vm.offenderAddress.mailing_st">
              <option value="" disabled>Choose a State</option>
              <option *ngFor="let c of vm.states" [ngValue]="c">{{ c }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <b>Zip</b>
            <input type="text" class="form-control" name="mailing_zip" [(ngModel)]="vm.offenderAddress.mailing_zip" required>
          </div>
          <div class="form-group col-md-5">


          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
        <br />
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary" style="float:right" (click)="updateItem(vm)">Save</button>
            <button class="btn btn-cancel" style="float:right;margin-right:20px" (click)="ClosePopup()">Cancel</button>

          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 second-title">
      <strong>
        Current Physical Address
      </strong>
    </div>
    <div class="col-md-6 second-title">
      <strong>
        Current Mailing Address
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
        <thead>
          <tr>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ vm.offenderAddress.address_line1}}
              {{ vm.offenderAddress.address_line2}}
              {{ vm.offenderAddress.city}}
              {{vm.offenderAddress.state}}
              {{ vm.offenderAddress.zip}}
            </td>
            <td>
              <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="AddressPopup()" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
        <thead>
          <tr>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ vm.offenderAddress.mailing_addr_line1}}
              {{ vm.offenderAddress.mailing_addr_line2}}
              {{ vm.offenderAddress.mailing_city}}
              {{ vm.offenderAddress.mailing_st}}
              {{ vm.offenderAddress.mailing_zip}}
            </td>
            <td>
              <img class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" (click)="MailPopup()" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>
        Address History
      </h4>
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
        <thead>
          <tr>
            <th>#</th>
            <th>Street Name</th>
            <th>Apt/Unit</th>
            <th>Zip</th>
            <th>City</th>
            <th>State</th>
            <th>County</th>
            <th>Live Arrangement</th>
            <th>Address Type</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of vm.offenderAddressAudits; let i = index">
            <td>{{i+1}}</td>
            <td>{{ o.address_line1 }}</td>
            <td>{{ o.address_line2 }}</td>
            <td>{{o.zip}}</td>
            <td>{{ o.city}} </td>
            <td>{{ o.state}} </td>
            <td>{{ o.county_name}} </td>
            <td>{{ o.living_arrangement}} </td>
            <td></td>
            <td>{{ o.comments}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




