

.close {
  cursor: pointer;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.edit-icon {
    display: inline-block;
    width:25px;
    margin-left: 4px;
    height: 25px;
    overflow: hidden;
    float: right;
    cursor:pointer;
  }
.center {
  text-align: center;
}

.toast-success {
  padding-left: 80px;
  text-align: center;
  background-position: 35% !important;
}
.Mymodal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.main-title > h2 {
  font-size: 20px;
  padding-top: 4px;
}

.second-title {
  padding-top: 4px;
}

.second-title > strong {
  font-size: 14px;
}

.edit-icon {
  display: inline-block;
  margin-left: 4px;
  width: 25.3px;
  height: 20.45px;
  overflow: hidden;
  float: right;
  margin-top: -6px;
  cursor: pointer;
}


