<div *ngIf="vm">

  <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="openAddOffenderAlertItem(0)">
    <mat-icon class="edit-icon-3">add</mat-icon>Add New Alert
  </label>

  <table class='table table-borderless' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>Alert</th>
        <th>Comments</th>
        <th>Last Updated</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.juvenile_AlertDtoList">
        <td>{{ c.alert_type }}</td>
        <td>{{ c.alert_comment | slice:0:20 }}</td>
        <td>{{ datepipe.transform(c.modified_date, 'MM/dd/YYYY')	}}</td>
        <td>{{ datepipe.transform(c.created_date, 'MM/dd/YYYY') }}</td>
        <td>{{ c.created_by }}</td>
        <td>
          <mat-icon class="edit-icon-2" (click)="openEditOffenderAlertItem(c.juvenile_alert_key)">edit</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon class="edit-icon-2" (click)="openDelOffenderAlertItem(c.juvenile_alert_key)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>
