@import "~ngx-smart-modal/ngx-smart-modal";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* Provide sufficient contrast against white background */
.default-modal {
  min-width: 85% !important;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.main-content {
  margin-left: 280px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-content {
  line-height: 2;
  overflow: hidden !important;
  padding-top:20px;
  height: 100%;
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

.mat-drawer-inner-container {
  overflow: auto !important;
  height: 1000px;
}

.mat-expansion-panel-header {
  padding-left: 16px;
}

span.main-mat-list-item {
  padding-top: 3px !important;
  padding-left: 4px !important;  
}

.mat-list-item-content {
  padding-left: 20px !important;
  padding-bottom: 3px;
  padding-top: 3px;  
}

.parent > .mat-list-item-content {
  height: 41px !important;
  align-content: center;
}

.mat-list-item-content span {
  font-size: 15px;
}
.mat-expansion-panel-body {
  padding-bottom: 0px !important;
}

.max-content-long {
  max-width: 1840px !important;
}
.loader {
  margin-left: 40%;
  margin-top: 15%;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.table-striped, .table-borderless td {
  font-size: 14px;
}

.delete-warning-icon {
  font-size: 6.5rem;
}
