a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}

.layou-image {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 56px;
  margin-left: 25px;
}

html {
  font-size: 14px;
}

.layout-top-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color:black;
}

.top-container {
  background-color: #ffffff;
  z-index: -3;
}

.navbar-secondary {
    position:relative;
  background-color: #2849bf;
  -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75) !important;
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75) !important;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75) !important;
}

.secondary-navbar-items {
  margin-left: 160px;
}
 nav > div > div > ul > li.nav-item  a {
  font-weight:500;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.layout-top-text {
  margin-left:120px;
}

.row-borderless {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.nav-link {
  color: mintcream !important;
}

.nav-link:hover {
  color: darkgrey !important;
}


.nav-item {
  padding-right: 30px;
}
