<header>
  <div class="top-container box-shadow">
    <div class="row row-borderless">
      <div class="col-8">
        <img src="../../assets/Images/IJOS.png" class="layou-image" />
        <strong><a class="navbar-brand layout-top-text" [routerLink]="['/']">Idaho Juvenile Offender System</a> </strong>
      </div>
      <div class="col">
        <nav class="navbar login-nav navbar-expand-sm navbar-toggleable-sm navbar-light">
          <div class="container">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isExpanded }">
              <app-login-menu></app-login-menu>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <nav class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      border-bottom
      box-shadow
       navbar-secondary
    ">
    <div class="container">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()" color="primary">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow secondary-navbar-items">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/case-load']">Case Load</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/offender-search']">Search</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/case-load']">New Offender</a>
          </li>-->
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/case-load']">Utilities</a>
          </li>-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/case-load']">Reports</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/case-load']">Administration</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/case-load']">Help</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/todo']">Todo</a>
          </li>-->
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/token']">JWT</a>
          </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="/api" target="_blank">API</a>
                  </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
