
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:700px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">


  <div class="second-title" style="margin-bottom: 18px;">
    <h5>
      Comments History  - {{data.fullname}} (#{{data.id}})
    </h5>
  </div>

  <div style="text-align:right">

    <!--<button style="background-color: Transparent;border-block-style: none; font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; color: #169BD5;" class="pull-right info-body" (click)="getitem(0)">
      <mat-icon class="edit-icon-3">add</mat-icon> Add New Comment
    </button>-->

    <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="getitem(0)">
      <mat-icon class="edit-icon-3">add</mat-icon>Add New Comment
    </label>

  </div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>

        <th>Comment</th>
        <th>Entered By</th>
        <th>Date Entered</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.all_Offender_commentDto">


        <td>{{ c.comments }}</td>
        <td>{{ c.created_by }}</td>
        <td>{{ datepipe.transform(c.created_date, 'MM/dd/YYYY')}}</td>
        <td>
          <!--<button style="border-block-style:none;font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; color: #169BD5;" class="pull-right info-body" (click)="openitem(c)">
            Edit
          </button>

          <button style="border-block-style: none; font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; color: #169BD5;" class="pull-right info-body" (click)="DeleteItem(c.offender_comment_id)">
            Delete
          </button>-->


          <mat-icon class="edit-icon-2" (click)="openitem(c)">edit</mat-icon>


          <mat-icon class="edit-icon-2" (click)="DeleteItem(c.offender_comment_id,template)">delete</mat-icon>


        </td>

      </tr>
    </tbody>

  </table>

</div>



<!--<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete ? </p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>-->

























<div *ngIf="ShowItem" class="Mymodal">
  <div style="width: 50%; height: 500px; position: relative; top: 25%; left: 25%;">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>




      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">



        <div class="row">

          <div class="form-group col-md-1">
          </div>

          <div class="form-group col-md-10">
            <h5>
             Add New Comment   - {{data.fullname}} (#{{data.id}})
            </h5>
          </div>
          <div class="form-group col-md-1">
          </div>



        </div>


        <div class="row">

          <div class="form-group col-md-1">
          </div>

          <div class="form-group col-md-10">
            <b>
              Comments
            </b>

            <textarea style="height:200px" class="form-control" name="comments" [(ngModel)]="vm.offender_commentDto.comments"
                      [ngClass]="{ 'is-invalid': newListEditor.comments }"></textarea>

            <div *ngIf="newListEditor.comments" class="invalid-feedback">
              {{ newListEditor.comments }}
            </div>
          </div>
          <div class="form-group col-md-1">
          </div>



        </div>


        <input type="hidden" name="sin">


        <div class="form-group row">
          <div class="form-group col-md-7">
          </div>

          <div class="form-group col-md-2">
            <button class="btn btn-primary" style="float:right " (click)="ClosePopup()">Cancel</button>
          </div>

          <div class="col-md-2">
            <button *ngIf="vm.offender_commentDto.offender_comment_id != 0 " class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Edit</button>
            <button *ngIf="vm.offender_commentDto.offender_comment_id == 0 " class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>
          </div>

          <div class="form-group col-md-1">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

