
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:700px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">


  <div class="second-title" style="margin-bottom: 18px;">
    <h5>
      Edit Name  - {{data.fullname}} (#{{data.id}})
    </h5>
  </div>


  <div class="form-group row"   style="margin-bottom: -1rem;"   >
    <div class="form-group col-md-2">
      <label  class="pull-right info-body">
        Name History
      </label>
    </div>


    <div class="form-group col-md-8">
    </div>

      <div class="form-group col-md-2">
        <label style="color:blue"  class="pull-right info-body" (click)="getitem()">
          <mat-icon class="edit-icon-3">add</mat-icon>Edit Name
        </label>
      </div>
    </div>


    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
      <thead>
        <tr>

          <th>First Name </th>
          <th>Last Name</th>
          <th>Middle Name</th>
          <th>Suffix</th>
          <th>Last Modified</th>
          <th>Last Modifiled By</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of vm.offender_name_histDtos">


          <td>{{ c.first_name }}</td>
          <td>{{ c.last_name }}</td>
          <td>{{ c.middle_name }}</td>
          <td>{{ c.suffix }}</td>
          <td>{{ datepipe.transform(c.created_date, 'MM/dd/YYYY')}}</td>
          <td>{{ c.created_by }}</td>
          <td>{{ c.reason }}</td>


        </tr>
      </tbody>

    </table>

  </div>



<!--<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete ? </p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>-->

























<div *ngIf="ShowItem" class="Mymodal">
  <div style="width: 80%; height: 500px; position: relative; top: 10%; left: 10%;">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>




      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">



        <div class="row">
          <div class="form-group col-md-1">
          </div>
          <div class="form-group col-md-10">
            <h5>
              Edit Juvenile Name  - {{data.fullname}} (#{{data.id}})
            </h5>
          </div>
          <div class="form-group col-md-1">
          </div>
        </div>

        <div class="row" style="color:red">
          <div class="form-group col-md-1">
          </div>
          <div class="form-group col-md-10">
            <h5>
              You are changing  - {{data.fullname}}
            </h5>
          </div>
          <div class="form-group col-md-1">
          </div>
        </div>


        <div class="row">

          <div class="form-group col-md-1">
          </div>

          <div class="form-group col-md-3">
            <b>
              Last Name
            </b>

            <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.offender_name_histDto.last_name"
                   [ngClass]="{ 'is-invalid': newListEditor.last_name }">

            <div *ngIf="newListEditor.last_name" class="invalid-feedback">
              {{ newListEditor.last_name }}
            </div>
          </div>


          <div class="form-group col-md-3">
            <b>
              First Name
            </b>

            <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.offender_name_histDto.first_name"
                   [ngClass]="{ 'is-invalid': newListEditor.first_name }">

            <div *ngIf="newListEditor.first_name" class="invalid-feedback">
              {{ newListEditor.first_name }}
            </div>
          </div>



          <div class="form-group col-md-3">
            <b>
              Middle Name
            </b>

            <input type="text" class="form-control" name="middle_name" [(ngModel)]="vm.offender_name_histDto.middle_name"
                   [ngClass]="{ 'is-invalid': newListEditor.middle_name }">

            <div *ngIf="newListEditor.middle_name" class="invalid-feedback">
              {{ newListEditor.middle_name }}
            </div>
          </div>


          <div class="form-group col-md-1">
            <b>
              Suffix
            </b>

            <input type="text" class="form-control" name="suffix" [(ngModel)]="vm.offender_name_histDto.suffix"
                   [ngClass]="{ 'is-invalid': newListEditor.suffix }">

            <div *ngIf="newListEditor.suffix" class="invalid-feedback">
              {{ newListEditor.suffix }}
            </div>
          </div>

          <div class="form-group col-md-1">
          </div>




        </div>




        <div class="row">
          <div class="form-group col-md-1">
          </div>


          <div class="form-group col-md-10">
            <b>
              Reason
            </b>

            <textarea style="height:100px" class="form-control" name="reason" [(ngModel)]="vm.offender_name_histDto.reason"
                      [ngClass]="{ 'is-invalid': newListEditor.reason }"></textarea>

            <div *ngIf="newListEditor.reason" class="invalid-feedback">
              {{ newListEditor.reason }}
            </div>
          </div>

          <div class="form-group col-md-1">
          </div>


        </div>


          <input type="hidden" name="sin">


          <div class="form-group row">
            <div class="form-group col-md-9">
            </div>

            <div class="form-group col-md-1">
              <button class="btn btn-primary" style="float:right " (click)="ClosePopup()">Cancel</button>
            </div>

            <div class="col-md-1">
              <button  class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Save</button>
             
            </div>

            <div class="form-group col-md-1">
            </div>
          </div>
      </form>
    </div>

  </div>
</div>


