<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div>
  <form #userForm="ngForm">

    <div class="modal-body">
      <div class="close" mat-dialog-close mat-button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row">

        <div class="form-group col-md-2">
          <mat-icon class="delete-warning-icon">warning</mat-icon>
        </div>

        <div class="form-group col-md-1">
        </div>

        <div class="form-group col-md-8">
          <h3>
            This will remove the selected Alert - Are you sure ?
          </h3>
        </div>

      </div>

      <br />

      <div class="row">

        <div class="d-grid col-3 mx-auto">
          <button class="btn btn-secondary btn-lg" tabindex="1" mat-dialog-close mat-button>Cancel</button>
        </div>

        <div class="d-grid col-3 mx-auto">
          <button (click)="DeleteOffenderAlertItem()" tabindex="2" class="btn btn-primary btn-lg">Yes</button>
        </div>

      </div>

    </div>

  </form>

</div>















<!--<br />
<br />

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-md-2">
    <img src="../../assets/Images/warning.png" class="layou-image" />
  </div>
  <div class="col-md-8">
    <h2><label for="exampleFormControlInput1"  class="form-label">
  This will remove the selected Alert - Are you sure ?</label></h2>
  </div>
</div>

<br />
<br />

<div class="row">

  <div class="col-md-6">
    <button class="btn btn-secondary btn-lg" tabindex="1" mat-dialog-close mat-button>Close</button>
  </div>

  <div class="col-md-6">
    <button tabindex="2" class="btn btn-primary btn-lg">Save</button>
  </div>

</div>-->
