<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="text-align:center;" *ngIf="!vm"><div class="loader"></div></div>


<div *ngIf="vm">

  <br />
  <div class="main-title">
    <h5>
      Edit/New Scars, Marks and Tattoos   -   {{vm.scars_marks_tattoosDto.offenderFullName}} (#{{vm.scars_marks_tattoosDto.sin}})
    </h5>
  </div>
  <br />


  <br />





  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="row">


      <div class="form-group col-md-6">
        <b>Type</b>
        <select class="form-control"
                name="scar_mark_tattoo"
                [(ngModel)]="vm.scars_marks_tattoosDto.scar_mark_tattoo">
          <option value="" disabled>Choose a Type</option>
          <option *ngFor="let c of vm.smt_codes" [ngValue]="c">{{ c }}</option>
        </select>


        <div *ngIf="newListEditor.scar_mark_tattoo" class="invalid-feedback">
          {{ newListEditor.scar_mark_tattoo }}
        </div>
      </div>


      <div class="form-group col-md-6">
        <b>
         Description
        </b>

        <input type="text" class="form-control" name="description" [(ngModel)]="vm.scars_marks_tattoosDto.description"
               [ngClass]="{ 'is-invalid': newListEditor.description }">

        <div *ngIf="newListEditor.description" class="invalid-feedback">
          {{ newListEditor.description }}
        </div>
      </div>





    </div>








    <div class="form-group row">
      <div class="col-md-4">

      </div>
      <div class="col-md-2">
        <div class="close" mat-dialog-close mat-button>
          <button class="btn-close btn CancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="col-md-2">
        <button *ngIf="vm.scars_marks_tattoosDto.smt_number != 0 " class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Edit</button>
        <button *ngIf="vm.scars_marks_tattoosDto.smt_number == 0 " class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>

      </div>

      <div class="col-md-4">

      </div>
    </div>
  </form>

</div>



