.sidenav-container {
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-content {
  overflow: inherit !important;
}

.top-main-row {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px #b4b8bf;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 6px;
  margin-bottom: 30px;
  margin-right: -4px;
}

.sidenav-content {
  margin-top: 0px;
  margin-left: 16px;
  min-height: 600px;
}

.sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

a.mat-list-item {
  padding-top: 2px;
  padding-bottom: 3px;
}

.mat-expansion-panel-header {
  height: 41px;
}

.mat-list-base .mat-list-item {
  height: auto !important;
}

.mat-list-base {
  padding-top: 0px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

.mat-expansion-panel-header {
  padding-bottom: 10px;
  padding-top: 10px;
}

.mat-expansion-panel-spacing {
  margin: 0px;
}




/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




























.main-title > h1 {
  font-size: 20px;
  padding-top: 4px;
}

.second-title {
  padding-top: 4px;
  font-size: 14px;
}

.edit-icon {
  display: inline-block;
  margin-left: 4px;
  width: 25.3px;
  height: 20.45px;
  overflow: hidden;
  float: right;
  margin-top: -6px;
  cursor: pointer;
}

.edit-icon-2 {
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
}

.action-grid-btn {
  margin-top: -20px;
}


.edit-icon-3 {
  display: inline-block;
  width: 25.3px;
  height: 20.45px;
  overflow: hidden;
  padding-bottom: 0px;
}

.info-body > label {
  color: black;
}

.pull-right {
  float: right
}

.top-main-row {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px #b4b8bf;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 6px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.info-body > a {
  color: black;
}

.botton-row {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px #b4b8bf;
  padding-left: 10px;
  margin-right: -4px;
  margin-left: -15px;
  margin-top: 9px;
}

.sub-title > h2 {
  font-size: 1.07rem;
}

.photo-placeholder {
  height: 8rem;
}

.bordered {
  padding-top: 6px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: solid 1px rgba(204, 204, 204, 1);
  border-radius: 4px;
  margin: -10px;
  margin-top: 0px;
  padding-left: 4px;
  padding-bottom: 10px;
}

.strong-label {
  font-weight: 500;
  margin-right: 7px;
}

.post-label {
  margin-left: 6px;
}

.mat-divider {
  margin-bottom: 5px;
}

.info-body {
  font-size: 14px;
  padding-right: 4px;
}

.photo-col, .second-col {
  margin-right: -20px;
  padding-right: 34px;
}

.edit-second-row {
  margin-left: auto;
  margin-right: 0;
}

.content-row {
  margin-right: -30px;
}

.content-row2 {
  margin-right: -60px;
}

tbody > tr > td {
  padding: 0.2rem !important;
}


.table th, .table td {
  font-size: 13px;
}
