
<mat-sidenav-container class="sidenav-container" autosize>


  <div *ngIf="VM" class="row top-main-row">
    <div class="col-md-6">
      <div class="row main-title">
        <h1>Juvenile Overview - Personal Details</h1>
      </div>
      <div class="row second-title">
        <strong>{{VM.offender.full_name}}</strong>

        <!--<a  [routerLink]="['/offender-name-hist',currentSin]">-->
        <img (click)="OpenOffenderNameModal()" class="edit-icon" src="../../../assets/Icons/edit_icon.svg" alt="Edit Icon" />
        <!--</a>-->
        - #{{VM.offender.sin}} ({{VM.offender.age}} YOA)
      </div>
    </div>
    <div class="col-md-6">
      <div class="row second-title">
        <div class="col-md-12"><label class="pull-right"> Supervision: {{ VM.offender.supervision_level }} </label></div>
      </div>
      <div class="row second-title">
        <div class="col-md-12"><label class="pull-right"> Committed By: {{ VM.offender.staff_county_name }} </label></div>
      </div>
    </div>
  </div>










  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">

    <mat-accordion class="app-nav-accordion parent main-mat-list-item" multi>
      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>person</mat-icon>
            <span class="full-width main-mat-list-item">JUVENILE OVERVIEW</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item [routerLink]="['/offender/juvenile-overview/', currentSin]" (countChanged)="countChangedHandler($event)">Personal Details</a>
            <a mat-list-item [routerLink]="['/',currentSin]">Contact Notes</a>
            <a mat-list-item [routerLink]="['/offender-tattoos',currentSin]">Scar Marks &amp; Tattoos</a>
            <a mat-list-item [routerLink]="['/offender-aliases',currentSin]">Aliases</a>
            <a mat-list-item [routerLink]="['/offender-schoolhistory',currentSin]">Schools</a>
            <a mat-list-item [routerLink]="['/offender-gang',currentSin]">Gangs</a>
            <a mat-list-item [routerLink]="['/offender-no-contact-orders',currentSin]">No Contact Orders(M)</a>
            <a mat-list-item [routerLink]="['/offender-alert',currentSin]">Juvenile Alerts</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>balance</mat-icon>
            <span class="full-width main-mat-list-item">COURT INFO</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">Referrals</a>
            <a mat-list-item href="...">Petitions</a>
            <a mat-list-item href="...">Dispositions</a>
            <a mat-list-item href="...">Probation(H)</a>
            <a mat-list-item href="...">Fees</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>local_hotel</mat-icon>
            <span class="full-width main-mat-list-item">PLACEMENTS</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">Daily Log(H)         </a>
            <a mat-list-item href="...">Activity Log         </a>
            <a mat-list-item [routerLink]="['/incident',currentSin]">Incident Reports(H)</a>
            <a mat-list-item href="...">Placement Plan       </a>
            <a mat-list-item href="...">Property(M)          </a>
            <a mat-list-item href="...">Visit, Phone, Mail   </a>
            <a mat-list-item href="...">Room Assignments(M)  </a>
            <a mat-list-item href="...">Intake/Release(H)    </a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>assignment</mat-icon>
            <span class="full-width main-mat-list-item">ACCOUNTABILITY</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">Treatment Programs</a>
            <a mat-list-item href="...">Drug Tests</a>
            <a mat-list-item href="...">Restitution</a>
            <a mat-list-item href="...">Community Service</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>




      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>assignment</mat-icon>
            <span class="full-width main-mat-list-item">ASSESSMENTS</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">Pre-Commit Screening     </a>
            <a mat-list-item href="...">Clinical Assessments     </a>
            <a mat-list-item href="...">ICLA/PAR                 </a>
            <a mat-list-item href="...">Gain SS Summary          </a>
            <a mat-list-item href="...">Probation Risk Assessment</a>
            <a mat-list-item href="...">YLSI                     </a>
            <a mat-list-item href="...">RAI                      </a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>




      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <span class="full-width main-mat-list-item">DOCUMENTS</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">Link1</a>
            <a mat-list-item href="...">Case Management</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>



      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <span class="full-width main-mat-list-item">EXTERNAL LINKS</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">IDHW Crossover Youth</a>
            <a mat-list-item href="...">CBAS</a>
            <a mat-list-item href="...">JIRS</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>



      <!--<mat-nav-list>
        <mat-list-item class="parent">
          <span class="full-width">DOCUMENTS</span>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
        </mat-list-item>
      </mat-nav-list>-->
      <!--<mat-nav-list>
        <mat-list-item class="parent">
          <span class="full-width">CONTACT NOTES</span>
          <mat-icon mat-list-icon>import_contacts</mat-icon>
        </mat-list-item>
      </mat-nav-list>

      <mat-expansion-panel class="mat-elevation-z0 ">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <mat-icon mat-list-icon>assignment_late</mat-icon>
            <span class="full-width main-mat-list-item">RISK ASSESSMENT</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">ICLA/PAR</a>
            <a mat-list-item href="...">Clinical Assessments</a>
            <a mat-list-item href="...">Pre-Commit Screening</a>
            <a mat-list-item href="...">YLSI</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-nav-list class="mat-elevation-z0">
        <mat-list-item class="parent">
          <span class="full-width">SUPERVISION</span>
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
        </mat-list-item>
      </mat-nav-list>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title class="parent">
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <span class="full-width main-mat-list-item">EXTERNAL LINKS</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <div class="expanded">
            <a mat-list-item href="...">IDHW Crossover Youth</a>
            <a mat-list-item href="...">CBAS</a>
            <a mat-list-item href="...">JIRS</a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>-->


    </mat-accordion>
  </mat-sidenav>


  <div class="sidenav-content">
    <div class="container max-content-long">

      <router-outlet></router-outlet>
    </div>
  </div>







</mat-sidenav-container>
