<div *ngIf="vm">

  <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="openSchoolHistory(0)">
    <mat-icon class="edit-icon-3">add</mat-icon>Add New Schools
  </label>

  <table class='table table-borderless' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>School</th>
        <th>Date Entered</th>
        <th>Date Left</th>
        <th>Last Grade Completed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.offenderSchoolDtoList">
        <td>{{ c.school_name }}</td>
        <td>{{ datepipe.transform(c.date_entered, 'MM/dd/YYYY')	}}</td>
        <td>{{ datepipe.transform(c.date_left, 'MM/dd/YYYY') }}</td>
        <td>{{ c.last_grade_completed }}</td>
        <td>
          <mat-icon class="edit-icon-2" (click)="openSchoolHistory(c.school_history_key)">edit</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon class="edit-icon-2" (click)="DeleteItem(c.school_history_key)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>
