<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="modal-header">
      <div class="row">
        <h2>
          Physical Description - {{vm.fullname}} (#{{vm.offenderPhysicalDescription.sin}})
        </h2>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Sex</label></b>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{vm.offenderPhysicalDescription.sex}}</option>
            <option value="1">Female</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Height</label></b>
          <input type="text" class="form-control" name="height" [(ngModel)]="vm.offenderPhysicalDescription.height" required>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Weight</label></b>
          <input type="text" class="form-control" name="weight" [(ngModel)]="vm.offenderPhysicalDescription.weight" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Hair Color</label></b>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{vm.offenderPhysicalDescription.hair_color}}</option>
            <option value="1">Red</option>
            <option value="1">Green</option>
            <option value="1">Blue</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Eye Color</label></b>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{vm.offenderPhysicalDescription.eye_color}}</option>
            <option value="1">Red</option>
            <option value="1">Green</option>
            <option value="1">Blue</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Date of Birth</label></b>
          <input type="text" class="form-control" name="date_of_birth" [(ngModel)]="vm.offenderPhysicalDescription.date_of_birth" required>

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Race</label></b>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{vm.offenderPhysicalDescription.race}}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Ethnicity</label></b>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{vm.offenderPhysicalDescription.ethnicity}}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Optional ID</label></b>
          <input type="text" class="form-control" name="ethnicity" [(ngModel)]="vm.offenderPhysicalDescription.ethnicity" required>
        </div>
      </div>
    </div>

    <div class="modal-footer float-right">
      <button class="btn btn-outline-secondary" mat-dialog-close mat-button>Close</button>
      <button class="btn btn-success" (click)="onSubmit(vm)">Save Changes</button>
      <!--<div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
      <div class="product-options">
        <a id="myWish" href="javascript:;" class="btn btn-mini">Add to Wishlist </a>
        <a href="" class="btn btn-mini"> Purchase </a>
      </div>
      <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Success! </strong> Product have added to your wishlist.
      </div>-->
    </div>

  </form>

</div>

<script>
  $(document).ready(function () {
    $("#success-alert").hide();
    $("#myWish").click(function showAlert() {
      $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#success-alert").slideUp(500);
      });
    });
  });

  $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
    $("#success-alert").slideUp(500);
  });
</script>





