@import '../../variables.scss';

.nav-link {
  padding: 0.15rem 1rem;
  padding-left: 11px;
}

#tableLabel{
    font-size: 22px;
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  font-weight: bold;
}
