
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:800px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">
  <div class="second-title" style="margin-bottom: 18px;">
    <strong>
      Edit Additional Details - {{fullname}} (#{{vm.offender.sin}})
    </strong>
  </div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="row">
      <div class="form-group col-md-3">
        <b>SSN</b>
        <input type="text" class="form-control" name="ssn" [(ngModel)]="vm.offender.ssn"
               [ngClass]="{ 'is-invalid': newListEditor.ssn }">
        <div *ngIf="newListEditor.ssn" class="invalid-feedback">
          {{ newListEditor.ssn }} 
        </div>
      </div>
      <div class="form-group col-md-3">
        <b>
          Driver License
        </b>
        <input type="text" class="form-control" name="drivers_license_number" [(ngModel)]="vm.driversLicenseNumbers.drivers_license_number"
               [ngClass]="{ 'is-invalid': newListEditor.drivers_license_number }">
        <div *ngIf="newListEditor.drivers_license_number" class="invalid-feedback">
          {{ newListEditor.drivers_license_number }}
        </div>
      </div>
      <div class="form-group col-md-3">
        <b>
          Driver License State
        </b>

        <select class="form-control"
                name="drivers_license_state"
                [(ngModel)]="vm.driversLicenseNumbers.drivers_license_state" [ngClass]="{ 'is-invalid': newListEditor.states }">
          <option value="" disabled>Choose a State</option>
          <option *ngFor="let c of vm.states" [ngValue]="c">{{ c }}</option>
        </select>
        <div *ngIf="newListEditor.state" class="invalid-feedback">
          {{ newListEditor.state }}
        </div>

      </div>
      <div class="form-group col-md-3">
        <b>
          Medicaid #
        </b>
        <input type="text" class="form-control" name="medicaid_number" [(ngModel)]="vm.offender.medicaid_number"
               [ngClass]="{ 'is-invalid': newListEditor.medicaid_number }">
        <div *ngIf="newListEditor.medicaid_number" class="invalid-feedback">
          {{ newListEditor.medicaid_number }}
        </div>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-3">

        <b>
          Place Of Birth #
        </b>
        <input type="text" class="form-control" name="place_of_birth" [(ngModel)]="vm.offender.place_of_birth">

      </div>
      <div class="form-group col-md-3">

        <b>
          Marital Status
        </b>
        <select class="form-control"
                name="marital_status"
                [(ngModel)]="vm.offender.marital_status" [ngClass]="{ 'is-invalid': newListEditor.MaritalStatus }">
          <option value="" disabled>Choose a Marital Status</option>
          <option *ngFor="let c of vm.maritalStatus" [ngValue]="c.status">{{ c.status }}</option>
        </select>
      </div>
      <div class="form-group col-md-3">

        <b>
          Primary Language
        </b>
        <select class="form-control"
                name="primary_language"
                [(ngModel)]="vm.offender.primary_language" [ngClass]="{ 'is-invalid': newListEditor.language }">
          <option value="" disabled>Choose a Language</option>
          <option *ngFor="let c of vm.languageTypesList" [ngValue]="c.language">{{ c.language }}</option>
        </select>
        <div *ngIf="newListEditor.language" class="invalid-feedback">
          {{ newListEditor.language }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">

        <b>
          Mother's Maiden Name
        </b>
        <input type="text" class="form-control" name="mothers_maiden_name" [(ngModel)]="vm.offender.mothers_maiden_name">

      </div>
      <div class="form-group col-md-3">

        <b>
          File Manager
        </b>
        <input type="text" class="form-control" name="paper_file_location" [(ngModel)]="vm.offender.paper_file_location"
                [ngClass]="{ 'is-invalid': newListEditor.paper_file_location }">
        <div *ngIf="newListEditor.paper_file_location" class="invalid-feedback">
          {{ newListEditor.paper_file_location }}
        </div>
      </div>
      <div class="form-group col-md-2" style=" margin-top: 32px;">
        <input type="checkbox" name="isemployed" [(ngModel)]="vm.offender.isemployed">
        <b>
          Employed
        </b>


      </div>
      <div class="form-group col-md-2" style=" margin-top: 32px;">
        <input type="checkbox" name="citizen_flag" [(ngModel)]="vm.offender.citizen_flag">
        <b>
          US Citizen
        </b>


      </div>

    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right" (click)="updateItem(vm)">Save</button>

        <button type="button"  style="float:right;margin-right:20px"  class="btn btn-cancel"  mat-dialog-close mat-button>Cancel</button>

       
      </div>
    </div>
  </form>
</div>


