
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:700px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>
<div *ngIf="vm">


  <div class="second-title" style="margin-bottom: 18px;">
    <h5>
      Addendum
    </h5>
  </div>

  <div style="text-align:right">



    <label style="padding-bottom:0px; margin-bottom: -10px; margin-right:10px;" class="pull-right info-body" (click)="getitem(0)">
      <mat-icon class="edit-icon-3">add</mat-icon>Add New Addendnum
    </label>

  </div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>

        <th>Addendum Comments</th>
        <th>Updated By</th>
        <th>Updated</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.incident_AddendumDtos">


        <td>{{ c.comments }}</td>
        <td>{{ c.modified_by }}</td>
        <td>{{ datepipe.transform(c.modified_date, 'MM/dd/YYYY')}}</td>
        <td>
          <mat-icon class="edit-icon-2" (click)="openitem(c)">edit</mat-icon>
          <mat-icon class="edit-icon-2" (click)="DeleteItem(c.addendum_id)">delete</mat-icon>


        </td>

      </tr>
    </tbody>

  </table>

</div>













<div *ngIf="ShowItem" class="Mymodal">
  <div style="width: 50%; height: 500px; position: relative; top: 25%; left: 25%;">
    <div class="modal-content">
      <div class="close" (click)="ClosePopup()">
        <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>




      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">



        <div class="row">

          <div class="form-group col-md-1">
          </div>

          <div class="form-group col-md-10">
            <h5>
              Edit/New Addendum

            </h5>
          </div>
          <div class="form-group col-md-1">
          </div>



        </div>


        <div class="row">

          <div class="form-group col-md-1">
          </div>

          <div class="form-group col-md-10">
            <b>
              Addendum Comments

            </b>

            <textarea style="height:200px" class="form-control" name="comments" [(ngModel)]="vm.incident_AddendumDto.comments"
                      [ngClass]="{ 'is-invalid': newListEditor.comments }"></textarea>

            <div *ngIf="newListEditor.comments" class="invalid-feedback">
              {{ newListEditor.comments }}
            </div>
          </div>
          <div class="form-group col-md-1">
          </div>



        </div>


        <input type="hidden" name="sin">


        <div class="form-group row">
          <div class="form-group col-md-7">
          </div>

          <div class="form-group col-md-2">
            <button class="btn btn-primary" style="float:right " (click)="ClosePopup()">Cancel</button>
          </div>

          <div class="col-md-2">
        
            <button *ngIf="vm.incident_AddendumDto.addendum_id != 0 " class="btn btn-primary" style="float:right" (click)="UpdateItem(vm)">Edit</button>
            <button *ngIf="vm.incident_AddendumDto.addendum_id == 0 " class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>
          </div>

          <div class="form-group col-md-1">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

