
<p style="font-family: 'Arial Bold', 'Arial'; font-weight: 700; font-style: normal; font-size: 35px; margin-bottom: 0rem;">Search</p>
<img src="..\assets\Images\line_.png">

<br />





<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

  <div class="row">

    <div class="form-group col-md-3">
      <b>
        Last Name
      </b>
      <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.last_name">


    </div>

    <div class="form-group col-md-3">
      <b>
        First Name
      </b>
      <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.first_name">


    </div>

    <div class="form-group col-md-6">
    </div>


  </div>



  <div class="row">

    <div class="form-group col-md-3">
      <b>
        Search For:
      </b>
      <select class="form-control" name="searchfor"
              [(ngModel)]="vm.searchType">

        <option value="" disabled>Choose a Type</option>
        <option value="1">Juvenile</option>
        <option value="2">Parents - Relationships</option>
      </select>

    </div>

    <div class="form-group col-md-2">
      <br />
     
      <button *ngIf="showNewOffender" class="btn btn-primary" style="float:right" (click)="newOffender(vm)">New Offender</button>
    </div>

    <div class="form-group col-md-2">
      <br />
      <button class="btn btn-primary" style="float:right" (click)="Search(vm)">Search</button>
      
    </div>


    <div class="form-group col-md-5">
    </div>

  </div>
</form>
<!--<div class="row">

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vm">
    <thead>
      <tr>
        <th>Name</th>
        <th>AKA</th>
        <th>DOB</th>
        <th>Race</th>
        <th> Supervision Level</th>
        <th>ID#</th>
        <th>County</th>
        <th># of Agencies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of vm.offenders">

        <td>{{ (c.first_name === null ? "" : c.first_name ) + ' ' + (c.middle_name === null ? "" : c.middle_name)   + ' ' +  (c.last_name === null ? "" : c.last_name) }}</td>
        <td></td>
        <td>{{ c.date_of_birth | date: 'MM/dd/yyyy' }}</td>
        <td>{{ c.race }}</td>
        <td></td>
        <td>{{ c.sin }}</td>
        <td>{{ c.county_name }}</td>
        <td></td>

      </tr>
    </tbody>
  </table>
</div>-->




























<div class="row">

  <div class="col-md-12">
    <!--<mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>-->

    <table mat-table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{(element.first_name === null ? "" : element.first_name ) + ' ' + (element.middle_name === null ? "" : element.middle_name)   + ' ' +  (element.last_name === null ? "" : element.last_name) }} </td>
      </ng-container>



      <ng-container matColumnDef="AKA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> AKA </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <ng-container matColumnDef="date_of_birth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_birth | date: 'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
        <td mat-cell *matCellDef="let element"> {{element.race}} </td>
      </ng-container>

      <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supervision Level </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>


      <ng-container matColumnDef="sin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID# </th>
        <td mat-cell *matCellDef="let element"> {{element.sin}} </td>
      </ng-container>


      <ng-container matColumnDef="county_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> County </th>
        <td mat-cell *matCellDef="let element"> {{element.county_name}} </td>
      </ng-container>


      <ng-container matColumnDef="Agencies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # of Agencies </th>
        <td mat-cell *matCellDef="let element">    </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let element; columns: displayedColumns">
        <!--[routerLink]="['/offender/juvenile-overview', element.sin]"-->
      </tr>
      <!-- Row shown when there is no matching data. -->
      <!--<tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>-->


    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

