
<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div style="width:800px;text-align:center;" *ngIf="!vm"><div class="loader"></div></div>






<!--//////////////////*ngIf="vm"//////////update and create///////////////////////////-->
<div *ngIf="vm">

  <div class="main-title">
    <h5>
      Edit/New Relationship  -   {{data.fullname}} (#{{data.sin}})
    </h5>
  </div>
  <br />






  <!--<div class="modal-content">-->
  <!--<div class="close" (click)="ClosePopup()">
    <button type="button" style=" float: right;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
  </div>-->
  <!--<div class="second-title" style=" margin-top: -36px; margin-bottom: 18px;">
    <strong>Edit/New Relationship  </strong>
  </div>-->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <!--<input type="hidden" name="sin" [(ngModel)]="vm.relationshipsDto2.sin" >-->

    <div class="row">


      <div class="form-group col-md-2">
        <b>
          Last Name
        </b>
        <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.relationshipsDto2.last_name"
               [ngClass]="{ 'is-invalid': newListEditor.last_name }">
        <div *ngIf="newListEditor.last_name" class="invalid-feedback">
          {{ newListEditor.last_name }}
        </div>
      </div>

      <div class="form-group col-md-2">
        <b>
          First Name
        </b>
        <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.relationshipsDto2.first_name"
               [ngClass]="{ 'is-invalid': newListEditor.first_name }">
        <div *ngIf="newListEditor.first_name" class="invalid-feedback">
          {{ newListEditor.first_name }}
        </div>
      </div>

      <div class="form-group col-md-2">
        <b>
          Middle Name
        </b>
        <input type="text" class="form-control" name="middle_name" [(ngModel)]="vm.relationshipsDto2.middle_name">
      </div>

      <div class="form-group col-md-1">
        <b>
          Sufix
        </b>
        <input type="text" class="form-control" name="suffix" [(ngModel)]="vm.relationshipsDto2.suffix">
      </div>


      <div class="form-group col-md-5">
        <b>Relationship</b>
        <select class="form-control"
                name="relationshiP_TO_OFFENDER"
                [(ngModel)]="vm.relationshipsDto2.relationshiP_TO_OFFENDER">
          <option value="" disabled>Choose a Relationship Type</option>
          <option *ngFor="let c of vm.relationship_types" [ngValue]="c.relationship_to_offender">{{ c.relationship_to_offender }}</option>
        </select>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-3">
        <b>Ethnicity</b>
        <select class="form-control"
                name="ethnicity"
                [(ngModel)]="vm.relationshipsDto2.ethnicity">
          <option value="" disabled>Choose a Ethnicity</option>
          <option *ngFor="let c of vm.ed_ethnicity" [ngValue]="c">{{ c }}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <b>Race</b>
        <select class="form-control"
                name="race"
                [(ngModel)]="vm.relationshipsDto2.race">
          <option value="" disabled>Choose a race</option>
          <option *ngFor="let c of vm.race_types" [ngValue]="c">{{ c }}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <b>Marital status</b>
        <select class="form-control"
                name="marital_status"
                [(ngModel)]="vm.relationshipsDto2.marital_status">
          <option value="" disabled>Choose a Marital Status</option>
          <option *ngFor="let c of vm.maritalStatus" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


      <div class="form-group col-md-3">
        <b>Primary Language</b>
        <select class="form-control"
                name="primary_language"
                [(ngModel)]="vm.relationshipsDto2.primary_language">
          <option value="" disabled>Choose a Language</option>
          <option *ngFor="let c of vm.languageTypes" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


    </div>

    <input type="hidden" name="sin">

    <div class="row">

      <div class="form-group col-md-3">
        <b>Sex</b>
        <select class="form-control"
                name="sex"
                [(ngModel)]="vm.relationshipsDto2.sex">
          <option value="" disabled>Choose a Sex</option>
          <option *ngFor="let c of vm.sex" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


      <div class="form-group col-md-3">
        <b>
          DOB
        </b>
        <input type="date" class="form-control" name="date_of_birth" [valueAsDate]="vm.relationshipsDto2.date_of_birth"
               (change)="vm.relationshipsDto2.date_of_birth = $event.target.valueAsDate"
               [ngClass]="{ 'is-invalid': newListEditor.date_of_birth }">
        <div *ngIf="newListEditor.date_of_birth" class="invalid-feedback">
          {{ newListEditor.date_of_birth }}
        </div>


      </div>

      <div class="form-group col-md-3">
        <b>
          SSN
        </b>
        <input type="text" class="form-control" name="social_security_number" [(ngModel)]="vm.relationshipsDto2.social_security_number"
               [ngClass]="{ 'is-invalid': newListEditor.social_security_number }">
        <div *ngIf="newListEditor.social_security_number" class="invalid-feedback">
          {{ newListEditor.social_security_number }}
        </div>
      </div>

      <div class="form-group col-md-3">
        <b>Status</b>
        <select class="form-control"
                name="status"
                [(ngModel)]="vm.relationshipsDto2.status">
          <option value="" disabled>Choose a Status</option>
          <option *ngFor="let c of vm.relationship_status" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


    </div>

    <div class="row">

      <div class="form-group col-md-3">
        <b>
          Email
        </b>
        <input type="text" class="form-control" name="e_mail_address" [(ngModel)]="vm.relationshipsDto2.e_mail_address"
               [ngClass]="{ 'is-invalid': newListEditor.e_mail_address }">
        <div *ngIf="newListEditor.e_mail_address" class="invalid-feedback">
          {{ newListEditor.e_mail_address }}
        </div>
      </div>

      <div class="form-group col-md-3">
        <b>
          Employer
        </b>
        <input type="text" class="form-control" name="place_of_business" [(ngModel)]="vm.relationshipsDto2.place_of_business">
      </div>

      <div class="form-group col-md-3">
        <b>
          Job Title
        </b>
        <input type="text" class="form-control" name="occupation" [(ngModel)]="vm.relationshipsDto2.occupation">
      </div>


      <div class="form-group col-md-3">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-3">
        <b>
          Phone
        </b>
        <input type="text" class="form-control" name="phone_number" mask="(000) 000-0000" [(ngModel)]="vm.relationshipsDto2.phone_number">
      </div>

      <div class="form-group col-md-3">
        <b>
          Mobile
        </b>
        <input type="text" class="form-control" name="cell_phone" mask="(000) 000-0000" [(ngModel)]="vm.relationshipsDto2.cell_phone">
      </div>

      <div class="form-group col-md-3">
        <b>
          Fax
        </b>
        <input type="text" class="form-control" name="work_phone_extension" [(ngModel)]="vm.relationshipsDto2.work_phone_extension">
      </div>


      <div class="form-group col-md-3">
        <b>
          Work
        </b>
        <input type="text" class="form-control" name="work_phone" [(ngModel)]="vm.relationshipsDto2.work_phone">
      </div>

    </div>


    <b>
      Current Physical Address
    </b>
    <div class="row bordered">

      <div class="form-group col-md-3">

        <b>
          Street Name
        </b>
        <input type="text" class="form-control" name="address_line1" [(ngModel)]="vm.relationshipsDto2.address_line1">
      </div>

      <div class="form-group col-md-2">
        <b>
          Apt /Unit
        </b>
        <input type="text" class="form-control" name="address_line2" [(ngModel)]="vm.relationshipsDto2.address_line2">
      </div>






      <div class="form-group col-md-2">
        <b>City</b>
        <select class="form-control"
                name="city"
                [(ngModel)]="vm.relationshipsDto2.city">
          <option value="" disabled>Choose a City</option>
          <option *ngFor="let c of vm.cities" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


      <div class="form-group col-md-3">
        <b>State</b>
        <select class="form-control"
                name="state"
                [(ngModel)]="vm.relationshipsDto2.state">
          <option value="" disabled>Choose a State</option>
          <option *ngFor="let c of vm.states" [ngValue]="c">{{ c }}</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <b>
          Zip
        </b>
        <input type="text" class="form-control" name="zip" [(ngModel)]="vm.relationshipsDto2.zip">
      </div>

    </div>

    <label>
      <input type="checkbox" id="IsSameAddress" (change)="IsSameAddress(vm.relationshipsDto2.address_line1,vm.relationshipsDto2.address_line2,vm.relationshipsDto2.zip,vm.relationshipsDto2.city,vm.relationshipsDto2.state)" />
      Mailing Same Physical Address
    </label>

    <br />
    <b>
      Mailing Address
    </b>


    <div class="row bordered">


      <div class="form-group col-md-3">
        <b>
          Street Name
        </b>
        <input type="text" class="form-control" name="mailing_address_line1" [(ngModel)]="vm.relationshipsDto2.mailing_address_line1">
      </div>

      <div class="form-group col-md-2">
        <b>
          Apt /Unit
        </b>
        <input type="text" class="form-control" name="mailing_address_line2" [(ngModel)]="vm.relationshipsDto2.mailing_address_line2">
      </div>



      <div class="form-group col-md-2">
        <b>City</b>
        <select class="form-control"
                name="mailing_city"
                [(ngModel)]="vm.relationshipsDto2.mailing_city">
          <option value="" disabled>Choose a city</option>
          <option *ngFor="let c of vm.cities" [ngValue]="c">{{ c }}</option>
        </select>
      </div>


      <div class="form-group col-md-3">
        <b>State</b>
        <select class="form-control"
                name="mailing_state"
                [(ngModel)]="vm.relationshipsDto2.mailing_state">
          <option value="" disabled>Choose a state</option>
          <option *ngFor="let c of vm.states" [ngValue]="c">{{ c }}</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <b>
          Zip
        </b>
        <input type="text" class="form-control" name="mailing_zip" [(ngModel)]="vm.relationshipsDto2.mailing_zip">
      </div>

    </div>
    <br />
    <div class="row">

      <div class="form-group col-md-6">
        <label>
          <input type="checkbox" [checked]="vm.relationshipsDto2.parent_support_ordered" (change)="vm.relationshipsDto2.parent_support_ordered = !vm.relationshipsDto2.parent_support_ordered" />
          Parent Reimbursement
        </label>
      </div>

      <div class="form-group col-md-6">
        <label>
          <input type="checkbox" [checked]="vm.relationshipsDto2.other_children_in_home" (change)="vm.relationshipsDto2.other_children_in_home = !vm.relationshipsDto2.other_children_in_home" />
          Other Children in Home
        </label>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-6">
        <label>
          <input type="checkbox" [checked]="vm.relationshipsDto2.guardian_flag" (change)="vm.relationshipsDto2.guardian_flag = !vm.relationshipsDto2.guardian_flag" />
          Primary Contact or Guardian
        </label>
      </div>

      <div class="form-group col-md-6">
        <label>
          <input type="checkbox" [checked]="vm.relationshipsDto2.interpreter" (change)="vm.relationshipsDto2.interpreter = !vm.relationshipsDto2.interpreter" />
          Interpreter Required
        </label>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-md-4">

      </div>
      <div class="col-md-2">
        <div class="close" mat-dialog-close mat-button>
          <button class="btn-close btn CancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="col-md-2">
        <button *ngIf="vm.relationshipsDto2.relationship_id != 0 " class="btn saveBtn" (click)="updateItem(vm)">Edit</button>
        <button *ngIf="vm.relationshipsDto2.relationship_id == 0 " class="btn saveBtn" (click)="createItem(vm)">Save</button>
      </div>

      <div class="col-md-4">

      </div>
    </div>
  </form>


  <!--</div>-->
</div>

