<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="was-validated">

    <div class="modal-header">
      <div class="row">
        <h2>
          School History - {{vm.offender_FullName}} (#{{vm.school_HistoryDto.sin}})
        </h2>
      </div>
    </div>

    <div class="modal-body">

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">School Name</label></b>
          <select class="form-control" name="school_name" [(ngModel)]="vm.school_HistoryDto.school_key"
                  (change)="schoolNameChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.states }" required>
            <option *ngFor="let c of vm.schoolsDtoList" [ngValue]="c.school_key">{{ c.school_name }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Contacts</label></b>
          <input disabled="disabled" type="text" class="form-control" name="contactname" [(ngModel)]="vm.schoolsDto.contact_name" required>
          <div *ngIf="newListEditor.contact" class="invalid-feedback">
            {{ newListEditor.contact_name }}
          </div>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Reason for Leaving School</label></b>
          <select class="form-control" name="reason_For_Leaving" [(ngModel)]="vm.school_HistoryDto.reason_for_leaving"
                  (change)="stateChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.states }" required>
            <option *ngFor="let c of vm.reason_For_LeavingList" [ngValue]="c">{{ c }}</option>
          </select>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Street Name</label></b>
          <input disabled="disabled" type="text" class="form-control" name="addressline" [(ngModel)]="vm.schoolsDto.address_line" required>
          <div *ngIf="newListEditor.addressline" class="invalid-feedback">
            {{ newListEditor.address_line }}
          </div>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">City</label></b>
          <input disabled="disabled" type="text" class="form-control" name="city" [(ngModel)]="vm.schoolsDto.city" required>
          <div *ngIf="newListEditor.city" class="invalid-feedback">
            {{ newListEditor.city }}
          </div>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">Zip</label></b>
          <input disabled="disabled" type="text" class="form-control" name="zip" [(ngModel)]="vm.schoolsDto.zip" required>
          <div *ngIf="newListEditor.zip" class="invalid-feedback">
            {{ newListEditor.zip }}
          </div>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">State</label></b>
          <input disabled="disabled" type="text" class="form-control" name="state" [(ngModel)]="vm.schoolsDto.state" required>
          <div *ngIf="newListEditor.state" class="invalid-feedback">
            {{ newListEditor.state }}
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">School Type</label></b>
          <input disabled="disabled" type="text" class="form-control" name="schooltype" [(ngModel)]="vm.schoolsDto.school_type" required>
          <div *ngIf="newListEditor.schooltype" class="invalid-feedback">
            {{ newListEditor.school_type }}
          </div>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Last Grade</label></b>
<select class="form-control" name="last_grade_completed" [(ngModel)]="vm.school_HistoryDto.last_grade_completed"
                  (change)="stateChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.states }" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">Work</label></b>
          <input disabled="disabled" type="text" class="form-control" name="phone" [(ngModel)]="vm.schoolsDto.phone" required>
          <div *ngIf="newListEditor.phone" class="invalid-feedback">
            {{ newListEditor.phone }}
          </div>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput1" class="form-label">Fax</label></b>
          <input disabled="disabled" type="text" class="form-control" name="fax" [(ngModel)]="vm.schoolsDto.fax" required>
          <div *ngIf="newListEditor.fax" class="invalid-feedback">
            {{ newListEditor.fax }}
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Date Entered</label></b>
          <input type="date" class="form-control" name="date_entered" [valueAsDate]="vm.school_HistoryDto.date_entered"
                 (change)="vm.school_HistoryDto.date_entered = $event.target.valueAsDate" [ngClass]="{ 'is-invalid': newListEditor.date_taken }" required>
        </div>

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Date Left</label></b>
          <input type="date" class="form-control" name="date_left" [valueAsDate]="vm.school_HistoryDto.date_left"
                 (change)="vm.school_HistoryDto.date_left = $event.target.valueAsDate" [ngClass]="{ 'is-invalid': newListEditor.date_taken }" required>
        </div>

      </div>

    </div>

    <div class="modal-footer float-right">
      <button class="btn btn-outline-secondary" mat-dialog-close mat-button>Close</button>
  <button *ngIf="vm.school_HistoryDto.school_history_key != 0 " class="btn btn-success" (click)="UpdateItem(vm)">Save</button>
  <button *ngIf="vm.school_HistoryDto.school_history_key == 0 " class="btn btn-success" (click)="createItem(vm)">Save</button>
    </div>

  </form>

</div>



