<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<!--<div style="text-align:center;" *ngIf="!vm"><div class="loader"></div></div>-->


<div>

  <br />
  <div class="main-title">
    <h5>
      New Offender
    </h5>
  </div>
  <br />


  <br />




  <!--(ngSubmit)="onSubmit(userForm)"-->
  <form #userForm="ngForm">

    <div class="row">


      <div class="form-group col-md-4">
        <b>
          Last Name
        </b>

        <input type="text" class="form-control" name="last_name" [(ngModel)]="vm.last_name"
               [ngClass]="{ 'is-invalid': newListEditor.last_name }">

        <div *ngIf="newListEditor.last_name" class="invalid-feedback">
          {{ newListEditor.last_name }}
        </div>
      </div>


      <div class="form-group col-md-4">
        <b>
          First Name
        </b>

        <input type="text" class="form-control" name="first_name" [(ngModel)]="vm.first_name"
               [ngClass]="{ 'is-invalid': newListEditor.first_name }">

        <div *ngIf="newListEditor.first_name" class="invalid-feedback">
          {{ newListEditor.first_name }}
        </div>
      </div>


      <div class="form-group col-md-4">
        <b>
          Middle Name
        </b>

        <input type="text" class="form-control" name="middle_name" [(ngModel)]="vm.middle_name"
               [ngClass]="{ 'is-invalid': newListEditor.middle_name }">

        <div *ngIf="newListEditor.middle_name" class="invalid-feedback">
          {{ newListEditor.middle_name }}
        </div>
      </div>


    </div>






    <div class="row">


      <div class="form-group col-md-4">
        <b>
         Suffix
        </b>

        <input type="text" class="form-control" name="suffix" [(ngModel)]="vm.suffix"
               [ngClass]="{ 'is-invalid': newListEditor.suffix }">

        <div *ngIf="newListEditor.suffix" class="invalid-feedback">
          {{ newListEditor.suffix }}
        </div>
      </div>


      <div class="form-group col-md-4">
        <b>
          Sex
        </b>
        <select class="form-control"
                name="sex"
                [(ngModel)]="vm.sex">
          <option value="" disabled>Choose a Sex</option>
          <option value="Male">Male</option>
          <option value="Fmale">Fmale</option>
        </select>

      
      </div>


      <div class="form-group col-md-4">
        <b>
         DOB
        </b>

        <input type="date" class="form-control" name="date_of_birth" [(ngModel)]="vm.date_of_birth"
                (change)="vm.date_of_birth = $event.target.valueAsDate"
               [ngClass]="{ 'is-invalid': newListEditor.date_of_birth }">

        <div *ngIf="newListEditor.date_of_birth" class="invalid-feedback">
          {{ newListEditor.date_of_birth }}
        </div>
      </div>


    </div>



    <div class="form-group row">
      <div class="col-md-4">

      </div>
      <div class="col-md-2">
        <div class="close" mat-dialog-close mat-button>
          <button class="btn-close btn CancelBtn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="col-md-2">

        <button class="btn btn-primary" style="float:right" (click)="createItem(vm)">Save</button>

      </div>

      <div class="col-md-4">

      </div>
    </div>
  </form>

</div>



