<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item>
        <span>
          My Cases
        </span>
        <mat-icon mat-list-icon>folder_shared</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span>
          All Cases
        </span>
        <mat-icon mat-list-icon>folder_shared</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <div class="container">

      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
