.sidenav-container {
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-content {
  overflow: inherit !important;
}

.sidenav-content {
  margin-top: 0px;
  margin-left: 16px;
  min-height: 600px;
}

.sidenav {
  user-select: none;
  min-width: 200px;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.mat-drawer-content {
  overflow: inherit;
}
