<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



<div class="close" mat-dialog-close mat-button>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="modal-header">
      <div class="row">
        <h2>
          Edit Offender Gang - {{vm.offender_FullName}} (#{{vm.gangOffenderDto.sin}})
        </h2>
      </div>
    </div>

    <div class="modal-body was-validated">

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput1" class="form-label">Gang Name</label></b>
          <select class="form-control" name="gang_name" [(ngModel)]="vm.offender_GangDto.gang_number"
                  (change)="schoolNameChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.gang_name }" required>
            <option *ngFor="let c of vm.gangDtoList" [ngValue]="c.gang_number">{{ c.gang_name }}</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_colors" class="form-label">Gang Color</label></b>
          <input type="text" disabled="disabled" class="form-control" name="colors" [(ngModel)]="vm.gangDto.colors" required>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_allies" class="form-label">Allies</label></b>
          <input type="text" disabled="disabled" class="form-control" name="allies" [(ngModel)]="vm.gangDto.colors" required>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_rivals" class="form-label">Rivals</label></b>
          <input type="text" disabled="disabled" class="form-control" name="rivals" [(ngModel)]="vm.gangDto.colors" required>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_fundedby" class="form-label">Funded By</label></b>
          <input type="text" disabled="disabled" class="form-control" name="fundedby" [(ngModel)]="vm.gangDto.colors" required>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <b><label for="exampleFormControlInput_rank" class="form-label">Rank</label></b>
          <select class="form-control" name="rank" [(ngModel)]="vm.offender_GangDto.rank"
                  (change)="schoolNameChanged($event)" [ngClass]="{ 'is-invalid': newListEditor.rank }" required>
            <option *ngFor="let c of vm.rankList" [ngValue]="c">{{ c }}</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_moniker" class="form-label">Moniker</label></b>
          <input type="text" class="form-control" name="moniker" [(ngModel)]="vm.offender_GangDto.moniker" required>
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_Initiatedby" class="form-label">Initiated By</label></b>
          <select class="form-control" name="Initiatedby" [(ngModel)]="vm.offender_GangDto.initiated_by"
                  [ngClass]="{ 'is-invalid': newListEditor.Initiatedby }" required>
            <option *ngFor="let c of vm.initiatedByList" [ngValue]="c">{{ c }}</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          
          <b><label for="exampleFormControlInput_status" class="form-label">Status</label></b>
          <select class="form-control" name="status" [(ngModel)]="vm.offender_GangDto.status"
                  [ngClass]="{ 'is-invalid': newListEditor.status }" required>
            <option *ngFor="let c of vm.statusList" [ngValue]="c">{{ c }}</option>
          </select>
        </div>

      </div>

      <div class="row">

        <!--<div class="form-group col-md-2">
    <div class="form-check form-switch">
      <input class="form-check-input" (click)="joinDate()" type="checkbox" id="NoQuitDate" [(ngModel)]="vm.offender_GangDto.is_quit_date">
      <b><label class="form-check-label" for="NoQuitDate">No Join Date</label></b>
    </div>
  </div>

  <div class="form-group col-md-2">
    <div class="form-check form-switch">
      <input class="form-check-input" (click)="quitDate()" type="checkbox" id="nojoindateChanged" [(ngModel)]="vm.offender_GangDto.is_join_date">
      <b><label class="form-check-label" for="NoJoinDate">No Quit Date</label></b>
    </div>
  </div>-->

        <div class="form-group col-md-2">
          <div class="form-check form-switch">
            <input type="checkbox" name="is_join_date" class="form-check-input" [(ngModel)]="vm.offender_GangDto.is_join_date">
            <b><label class="form-check-label" for="isjoindate">No Join Date</label></b>
          </div>
        </div>

        <div class="form-group col-md-2">
          <div class="form-check form-switch">
            <input type="checkbox" name="is_quit_date" class="form-check-input" [(ngModel)]="vm.offender_GangDto.is_quit_date">
            <b><label class="form-check-label" for="isquitdate">No Quit Date</label></b>
          </div>
        </div>

        <div class="form-group col-md-2">
          <div class="form-check form-switch">
            <input type="checkbox" name="uses_gang_signs" class="form-check-input" [(ngModel)]="vm.offender_GangDto.uses_gang_signs">
            <b><label class="form-check-label" for="UsesGangSigns">Uses Gang Signs</label></b>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_joindate" class="form-label">Join Date</label></b>
          <input type="date" [disabled]='joinDtCal' class="form-control" name="joindate" [valueAsDate]="vm.offender_GangDto.join_date"
                 (change)="vm.offender_GangDto.join_date = $event.target.valueAsDate" [ngClass]="{ 'is-invalid': newListEditor.join_date }">
        </div>

        <div class="form-group col-md-2">
          <b><label for="exampleFormControlInput_quitdate" class="form-label">Quit Date</label></b>
          <input type="date" [disabled]='quitDtCal' class="form-control" name="quitdate" [valueAsDate]="vm.offender_GangDto.quit_date"
                 (change)="vm.offender_GangDto.quit_date = $event.target.valueAsDate" [ngClass]="{ 'is-invalid': newListEditor.quit_date }">
        </div>

      </div>

    </div>

    <div class="modal-footer float-right">
      <button class="btn btn-outline-secondary" mat-dialog-close mat-button>Close</button>
      <button *ngIf="vm.offender_GangDto.offender_gang_id != 0 " class="btn btn-success" (click)="UpdateOffender_GangItem(vm)">Save</button>
      <button *ngIf="vm.offender_GangDto.offender_gang_id == 0 " class="btn btn-success" (click)="createItem(vm)">Save</button>
    </div>

  </form>

</div>


